@media(max-width:1222px){
  .stap__items_bottom::after {
    top: 64px;
    bottom: 0;
    left: 567px;
    right: 0;
  }

}




@media(max-width:1151px){

  .container{
    max-width: 1024px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__itmes{
    font-size: 15px;
  }

  .stap__items_top{
    flex-wrap: wrap;
  }
  .stap__item_main{
    width: 100%;
    margin-bottom: 17px;
  }

  .stap__item_right{
    width: 99%;
    height: 114px;
  }
  .stap__item_bottom{
    height: 140px;
  }

  .stap__items_bottom::after {
    top: 28px;
    bottom: 0;
    left: 641px;
    right: 0;
  }

  .schedule__items_descr{
    padding-top: 0px;
  }

  .schedule__table{
    padding-top: 0px;
    margin-bottom: 17px;
  }

  .stap{
    padding-top: 61px;
  }

  .schedule__items_img{
    height: 381px;
  }

  .schedule__items_descr{
    height: 381px;
  }
}

@media(max-width:993px){
  .stap__item_bottom{
    height: 169px;
  }

  .stap__items_bottom::after {
    top: 64px;
    bottom: 0;
    left: 369px;
    right: 0;
  }

  .header__itmes {
    font-size: 14px;
}
}

@media(max-width:780px){
 .container{
  max-width: 768px;
 }

 .header__itmes{
  font-size: 10px;
 }

 .promo__item{
  display: flex;
  flex-direction: column;
 }

 .schedule__item{
  flex-direction: column;
 }

 .schedule__items_img{
  width: 47%;
  order: 1;
 }

 .schedule__items_descr{
  margin-bottom: 23px;
 }

 .step__item_v{
  width: 47%;
  height: 115px;
 }

 .stap__items_bottom{
  display: flex;
  flex-direction: column;
 }

 .stap__item_bottom{
  width: 99%;
  height: 129px;
 }

 .stap__items_bottom::after {
  width: 250px;
  top: 258px;
  bottom: 0;
  left: 288px;
  right: 0;
}

.participants__items{
  padding-top: 244px;
height: 452px;
}

.participants__span{
  margin-bottom: auto;
}

.participant__tittle-btm{
  text-align: center;
}

.participants__span{
  text-align: center;
}

.footer{
  padding-bottom: 19px;
}
}


@media(max-width:667px){
  .header__container{
    display: flex;
    flex-direction: column;
  }
  .header__btn_left{
    max-width: 63%;
    margin-bottom: 23px;
  }
  .header__btn_right{
    min-width: 63%;
  }

  .promo__tittle{
    font-size: 27px;
  }

  .schedule__items_tittle{
    font-size: 27px;
  }
  .schedule__table{
    padding-top: 31px;
    margin-bottom: 19px;
  }
.schedule__tr{
  height: 55px;
}

.schedule__items_descr{
  margin-bottom: 120px;
  width: 100%;
}

.schedule__items_img{
  height: 49%;
}

.step__item_v{
  width: 100%;
}

.stap__item_right{
  height: 152px;
}

.stap__items_bottom::after{
  width: 250px;
  top: 255px;
  bottom: 0;
  left: 128px;
    right: 0;
}

.schedule__td_left{
  height: 60px;
}

.footer{
  padding-bottom: 29px;
  padding-top: 29px;
  padding-left: 0;
  padding-right: 0;
}
}

@media(max-width:450px){
  .header{
    padding-bottom: 114px;
  }
  .header__tittle{
    font-size: 30px;
  }

  .header__btn_left{
    max-width: 100%;
  }

  .header__btn_right{
    width: 100%;
  }
.header__btn{
  width: 100%;
}
  .promo__tittle{
    font-size: 21px;
  }
  .promo__items_img{
    height: 236px;
    width: 241px;
  }

  .promo__items{
    margin-bottom: 21px;
  }

  .schedule__items_tittle{
    font-size: 21px;
  }

  .schedule__table{
    margin-bottom: 17px;
  }

  .schedule__tr{
    height: 47px;
  }
  .schedule__td_left{
    padding-top: 20px;
    font-size: 14px;
  }

  .schedule__td{
    font-size: 14px;
  }

  .stap__item_bottom{
    height: 265px;
  }

  .step__item_v{
    height: 150px;
  }

  .stap__item_right{
    height: 208px;
  }

  .stap__items_bottom::after{
    width: 250px;
    top: 129px;
    bottom: 0;
    left: 58px;
    right: 0;
  }

  .participants__tittle{
    display: flex;
    flex-direction: column;
  }

  .participants__item{
    --offset:0;
    --gap:85px
  }

  .participants__items{
    padding-top: 415px;
  }
  .header__item{
    min-height: 44px;
  }

  .header__itmes{
    font-size: 7px;
  }

  .footer__descr{
    font-size: 12px;
    text-align: center;
  }

  .participants{
    margin-bottom: 122px;
  }
}


