@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansBold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff');
       font-display: swap;
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src:
       url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
       url('../fonts/OpenSans-SemiBold.woff') format('woff');
       font-display: swap;
       font-weight: 600;
       font-style: normal;
}


@font-face {
  font-family: 'OpenSans';
  src:
       url('../fonts/OpenSansRegular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}


html {
	box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

 body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 100;
  background: #fff;
 }


a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h2, h1, h3, p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}


.container{
  max-width: 1222px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*section__header*/

.header{
  position: relative;
  padding-top: 30px;
  padding-bottom: 230px;
  background-image:  url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__logo{
  margin-bottom: 65px;
}

.promo__tittle_red{
margin-bottom: 24px;
}
.header__descr{
  max-width: 542px;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(49, 49, 49);
}

.header__tittle{
  font-size: 60px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  color: rgb(49, 49, 49);
}
.header__tittle-top{
  max-width: 542px;

}
.header__tittle-bottom{
  max-width: 530px;
  margin-bottom: 24px;
  padding-left: 0px;
  text-align: center;
}


.header__btn{
  border-radius: 66px;
  padding: 20px;
}
.header__btn_left{
  max-width: 263px;
  background: rgb(31, 31, 31);
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.header__btn_right{
  min-width: 263px;
  box-sizing: border-box;
  border: 2px solid rgb(31, 31, 31);
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(31, 31, 31);
  }



.header__item{
    min-height: 61px ;
}

.header__itmes{
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 30px;
}

.header__items:last-child{
  margin-right: 0;
}

.header__line{
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: rgb(245, 73, 50);
}

/*Section__promo*/

.schedule{
  padding-top: 20px;
}
.promo{
  padding-top: 30px;
}
.promo__tittle{
  display: inline;
  max-width: 764px;
  font-size: 36px;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.promo__tittle_red{
  color: red;
}

.promo__items{
  max-width: 764px;
  margin-right: auto;
}

.promo__items:last-child{
  margin-right: 0;
}

.promo__items_img{
  height: 263px;
  width: 390px;
  border-radius: 188px 188px 188px 188px;
  background-image: url(../img/promo.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.schedule__items_img{
  width: 484px;
  height: 528px;
  background-image: url(../img/promo__1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.schedule__items_descr{
  width: 648px;
  height: 528px;
  padding-top: 30px;
}

.schedule__items_tittle{
  display: inline;
  font-size: 36px;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.schedule__items_tittle_red{
  color: red;
}

.schedule__table{
  padding-top: 60px;
  margin-bottom: 69px;
}

.schedule__tr{
  border-bottom: 2px solid rgb(208, 208, 208);;
  height: 40px;
}
  .schedule__td{
    width: 382px;
    padding-left: 10px;
    padding-top: 0px;
    color: rgb(49, 49, 49);
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
    line-height: 120%;
    letter-spacing: 0px;
  }

  .schedule__td_left{
    padding-left: 0;
    padding-top: 6px;
    font-weight: 400;
    color: rgb(49, 49, 49);
    width: 345px;
    height: 40px;
    border-right: 2px solid rgb(208, 208, 208);;
  }

  .schedule__tr_btm{
    border-bottom: none;
  }

  .schedule__link{
    display: block;
  font-size: 20px;
  font-weight: 400;



  color: rgb(48, 87, 162);
  width: 100%;
  }


/*section__stap*/

.stap{
  padding-top: 90px;
}

.stap__span{
  display: block;
  margin-bottom: 50px;
}


.stap__item{
 background-color: #FAEBD7;
}

.stap__items_top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;

}

.stap__item_main{
  width: 67%;

}

.stap__item_right{
  position: relative;
  width: 30%;
  height: 232px;
  padding-left: 50px;
  padding-top: 42px;
  padding-bottom: 10px;

}

.step__item_left{
  width: 100%;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;

}

.step__item_v{
  position: relative;
  width: 48%;
  height: 100px;
  padding: 10px 10px 10px 50px;
}

.stap__number_top{
  display: block;
  position: absolute;
  padding-left: 11px;
  padding-top: 8px;
  bottom: 0;
  top: 11px;
  left: 8px;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: #fff;
  opacity: 1;
}


.stap__number_right{
  display: block;
  position: absolute;
  padding-left: 11px;
  padding-top: 8px;
  bottom: 0;
  top: 40px;
  left: 8px;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: #fff;
  opacity: 1;
}




.descr__number{
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(49, 49, 49);
}
/*
.step__item_v::after{
  content: "";
  position: absolute;
  bottom: 0;
  top: 11px;
  left: 8px;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: #fff;
  opacity: 1;
}

.step__item_v::backdrop{
  content: "";
  position: absolute;

}
*/


.step__descr{
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(49, 49, 49);
}

.step__descr_bottom{
  max-width: 500px;
}

.stap__items_bottom{
  position: relative;
  width: 100%;
  gap: 30px;
}


.stap__item_bottom{
  position: relative;
  width: 32%;
  height: 100px;
  padding: 10px 10px 10px 50px;
}

.stap__items_bottom::after{
  content: "";
  position: absolute;
  top: -112px;
    bottom: 0;
    left: 889px;
  right: 0;
  width: 402px;
  height: 249px;
  background-image: url(../img/plane.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
}


.stap__number_bottom{
  display: block;
  position: absolute;
  padding-left: 11px;
  padding-top: 8px;
  bottom: 0;
  top: 12px;
  left: 8px;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: #fff;
  opacity: 1;
}

.stap__item_bottom_right{
  width: 66%;
}


/*section__participants*/

.participants{
  padding-top: 100px;
  margin-bottom: 65px;
}

.participants__tittle{
  margin-right: auto;
  margin-bottom: 50px;
}

.btn__left{
  width: 44px;
  height: 44px;
  border: none;
  margin-right: 40px;
  background-color: transparent;
  background-image: url(../img/btn_left.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.btn__right{
  width: 44px;
  height: 44px;
  border: none;
  background-color: transparent;
  background-image: url(../img/btn__right.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.participants__item{
  display: flex;
  flex-wrap: wrap;
  --offset:2;
  --gap:30px;
  gap: var(--gap);
}


.participants__items{
  display: flex;
  flex-direction: column;
  padding-top: 400px;
  width: calc((100% - (var(--offset) * var(--gap))) / (var(--offset) + 1));
  height: 600px;
  background-image: url(../img/participans.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.participant__tittle-btm{
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(49, 49, 49);
}

.participants__span{
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(49, 49, 49);
}

.participants__btn_btm{
  min-width: 114px;
  background-color: transparent;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0px;
  border: 1px solid rgb(48, 87, 162);
  border-radius: 62px;
  color: rgb(48, 87, 162);
}


.footer{
  position: relative;
  padding: 40px 72px;
  background: rgb(233, 222, 212);
}

.footer__line{
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 118px;
  left: 0px;
  background-color: rgb(245, 73, 50);
}

.footer__descr{
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  color: rgb(49, 49, 49);
}
