@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff');
       font-display: swap;
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold')
       url('../fonts/MullerExtraBoldDEMO.woff2') format('woff2'),
       url('../fonts/MullerExtraBoldDEMO.woff') format('woff');
       font-display: swap;
       font-weight: 800;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular')
       url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}
/*
@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold')
       url('../fonts/') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
       font-display: swap;
       font-weight: 600;
       font-style: normal;
}
*/
html {
	box-sizing: border-box;
  background: #F1F1F1;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: lavender;
}
.nav-responsive{
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background:rgb(128, 180, 248);
  padding: 0.8rem 0rem;
  margin-top: -5rem;
}

.logo{
  width: 4rem;
  height: 3rem;
  border-radius: 50%;
}
.nav-search{
  width: 50vw;
  margin: 0 auto;
  position: relative;
}
#search{
  margin: 0 auto;
  width: 50vw;
  outline: none;
  font-size: 1.3rem;
  padding:0.2rem 2rem 0.2rem 1rem;
  border-radius: 1rem;
  border: none;
}
#find{
  position: absolute;
  font-size: 1.3rem;
  top: 0.3rem;
  right: 0.5rem;
  color: rgb(184, 140, 140);
  background: transparent;
}

.access a{
  color: rgb(73, 73, 70);
  font-size: 20px;
  padding:0 10px;
}
#notification{
  position: relative;
  top: -5px;
}
#cart{
  position: relative;
  top: -5px;
}
#bars{
  padding:0 10px;
  font-size: 30px;
  margin-right: 1rem;
}
#account{
  display: none;
  margin-right: 1rem;
}
#account i{
  font-size: 30px;
}



/* main section */
#main{
  margin-top: 5rem;
}
#categories{
  margin: 0.5rem 0;
  display: flex;
  padding: 0.5rem 0.3rem;
  background: rgba(253, 253, 253, 0.924);
}
.brand{
  width: 4rem;
  text-align: center;
  margin-right: 1rem;
  cursor: pointer;
}
.img-container{
  width: 4rem;
  height: 4rem;
  background: rgba(0, 128, 128, 0.278);
  border-radius: 50%;
  position: relative;
}

.brand-img{                                      
  height: 4.2rem;
  width: 2.2rem;
  position: relative;
  top: -2.5px;
  margin: auto;
  text-align: center;
}
#brand-name{
  font-family: sans-serif;
  text-transform: capitalize;
  margin-top: 10px;
  color: teal;
}
.categories{
  margin-top: 25px;
}
.title-container{
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 1rem 0.5rem;
}
#item-btn{
  outline: none;
  border: none;
  background: rgb(126, 202, 228);
  color: white;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
#item-btn:active{
  background: rgb(4, 167, 243);
}
#title{
  font-size: 2rem;
  background: white;
}
.card{
  display: grid;
  grid-template-columns: 
  auto auto ;
  grid-gap: 1px;
  text-align: center;
  font-family: sans-serif;
}
.item-container{
  background: white;
  position: relative;
  background: white;
  padding: 15px 12px;
  position: relative;
}
.item-container:hover{
  background: lavender;
  transition: all 0.7s ease-in-out;
}
.item-container:hover #card-img{
  transform: scale(1.1);
  transition: all 0.7s ease-in-out;
}
.card-item{
  cursor: pointer;
}
#card-img{
  position: relative;
  max-width: 100%;
  max-height: 8rem;
  text-align: center;
}
#item-name{
  text-align: left;
  color: lightseagreen;
  margin-top: 1rem;
  font-size: 0.95rem;
}
#add-to-cart{
  font-size: 1.5rem;
  color: rgb(155, 85, 96);
  position: absolute;
  bottom: 1rem;
  right: 0.8rem;
  cursor: pointer;
  opacity: 0;
  
}
.item-container:hover #add-to-cart{
  transition: all 0.7s ease-in-out;
  opacity: 1;
}
#item-price{
  color: rgb(199, 110, 110);
  text-align: left;
  margin-top: 0.5rem;
}

/* footer */
footer{
  background: rgb(18, 29, 29);
  color: white;
  font-family: sans-serif;
  margin-top: 1rem;
}
#footer-title{
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  padding: 0.3rem 0;
  color: grey;

}
.footer{
  display: grid;
  padding: 5rem 2rem;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  font-size: 0.9rem;
}
.footer  h3{
  margin-bottom: 1rem;
  font-weight: 200;
  font-size: 1.2rem;
  color: grey;
}
.footer ul li{
  list-style-type: none;
  line-height: 1.5rem;
}
.footer ul li a{
  color: white;
  text-decoration: none;

}
.footer p{
  line-height: 1.5rem;
}

#copyright{
  margin-top: 3rem;
  text-align: center;
  background: rgb(39, 38, 38);
  padding: 0.7rem 0;
  font-size: 1.2rem;
}

.footer .social-media i{
  padding: 0.5rem;
  font-size: 1.5rem;
}


/* Details page */
#details-page{
  background: rgba(128, 128, 128, 0.356);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  transition: all 0.3s ease-in-out;
}
.details{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items-detail{
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  background: white;
  width: 60vw;
  height: 70vh;

}
.image-container{
  padding: 2rem;
  margin-top: 3rem;
}
#details-img{
  width: 15rem;
  height: 15rem;
}


#detail-title{
  margin-top: 1rem;
  color: teal;
  font-size: 2.5rem;
}
#detail-price{
  margin-top: 1.5rem;
  color: rgb(199, 110, 110);
  font-size: 1.5rem;
}
#you-save{
  font-size: 1.2rem;
  
  color: rgb(106, 146, 161);
}
#delievery{
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
#spec{
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.items-detail  ul li{
  position: relative;
  margin: 0.5rem 0;
  font-family: sans-serif;
  list-style-position: inside;
}
.items-detail button{
  font-size: 1.5rem;
  padding: 0.3rem;
  text-align: center;
  margin-top: 0.5rem;
  outline: none;
  border: none;
}
#carts{
  background: rgb(238, 166, 12);
  color: white;
}
#carts:active{
  background: white;
  color: rgb(238, 166, 12);
}
#buy{
  background: rgb(167, 179, 5);
  color: white;
}
#buy:active{
  background: white;
  color:rgb(167, 179, 5);
}


/* cart list section*/
#cart-container{
  display: none;
  margin-top: 5rem;
}
#cart-title{
  font-size: 3.5rem;
  text-align: center;
  font-family: sans-serif;
  color: rgb(146, 78, 78);
}
#empty-cart{
  display: none;
  margin-top: 4rem;
  text-align: center;
  font-size: larger;
}

#cart-with-items{
  display: none;
  margin-top: 1rem;
}

.cart-column{
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(5,1fr);
}
.cart-list{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin-top: 0.4rem;
  position: relative;
  padding:0.5rem 1rem;
  background: white;
}
.list-name,.pay,.quantity,#remove{
  padding: 1.2rem 0.2rem;
}
#list-img{
  width: 5rem;
  height: 5rem;
}
#total{
  display: none;
  position: relative;
  margin-top: 3rem;
  right: 1rem;
  float: right;background: rgb(172, 191, 246);
  font-family: monospace;
  font-size: larger;
  padding: 1rem;
  color: rgb(149, 51, 34);
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}
#you-saved{
  color: rgb(101, 99, 102);
}

/* media queries for responsive view */
@media only screen and (min-width : 800px){
  .card{
      grid-template-columns: repeat(4,1fr);
  }
  .footer{
      grid-template-columns: auto auto auto;
  }
  #account{
      display: inline;
  }
  #bars{
      display: none;
  }
}

@media only screen and (max-width : 800px){
  .items-detail{
      display: block;
      width: 70vw;
      height: 70vh;
      padding: 0 4.5rem;
  }
  #details-img{
      width: 8rem;
      height: 9rem;
  }
  #detail-title{
      font-size: 1.7rem;
      margin-top: 0rem;
  }
  #detail-price,#delievery{
      margin-top: 0.5rem;
  }
  #spec,.items-detail  ul{
      display: none;
  }
  .image-container{
      padding: 1rem;
      margin-top: 1rem;
  }
}
