

@media (min-width:3840px){
  .container{
    max-width: 3840px;
  }

  .promo__tittle{
    font-size: 147px;
    max-width: 60%;
  }
  .promo__descr{
    font-size: 52px;
    max-width: 50%;
  }
  .descr{
    font-size: 39px;
    max-width: 90%;
    line-height: 80px;
  }

  .promo__btn {
    min-width: 611px;
    padding: 56px 39px;
    font-size: 46px;
  }

  .section-tittle{
    font-size: 116px;
  }

  .about__tittle_cards{
  font-size: 50px;
  }

  .about__btn{
    min-width: 357px;
    padding: 43px 48px;
    font-size: 37px;
  }

  .about__item_cub{
    background-position: 57px 144px;
  }

  .about__item_sh{
    background-position: 57px 144px;
  }

  .stages__tittle_cards{
    font-size: 50px;
  }

  .stages__btm_more{
    min-width: 357px;
    padding: 43px 48px;
    font-size: 37px;
  }

  .stages__btm_contract{
    min-width: 357px;
    padding: 43px 48px;
    font-size: 37px;
  }

  .questions__tittle_main{
    font-size: 116px;
  }

  .questions__tittle_cards{
    font-size: 50px;
  }

  .footer__tittle{
    font-size: 116px;
  }
  .footer__descr{
    font-size: 39px;
    line-height: 80px;
    max-width: 1071px;
  }
  .footer__container_middle{
    max-width: 986px;
  }

  .footer__form{
    max-width: 100%;
  }

  .footer__input_name{
    width: 100%;
    padding-top: 60px;
  }

  .footer__textarea{
    width: 100%;
    min-height: 271px;
  }

  .footer__btn{
    min-width: 357px;
    padding: 43px 48px;
    font-size: 37px;
  }
  .header__link_nav{
    font-size: 42px;
  }

  .header__logo_ev{
    width: 600px;
  }

  .footer__logo{
    width: 600px;
  }

.header__img{
  width: 50px;
  height: 50px;
}

.footer__container_left{
  max-width: 600px;
  margin-right: 256px;
}

.footer__item{
  margin-bottom: 20px;
}

.footer__links_left{
  font-size: 42px;
}

.footer-img{
  width: 120px;
  height: 120px;
}

.footer__span{
  font-size: 25px;
}

}

@media (max-width:1650px){
  .stages__descr_top{
    margin-bottom: 17px;
    min-width: 0%;
    max-width: 758px;
    line-height: 32px;
  }
}


@media (max-width:1520px){
  .about__descr_bottom{
    margin-right: 50px;
  }
}

@media (max-width:1362px) {
  .footer__container_right{
    display: none;
  }

  .about__descr_bottom{
    max-width: 100%;
  }

  .header__item {
    margin-right: 74px;
}

.nav {
  margin-right: 36px;
}

  .container{
    padding-left: 50px;
    padding-right: 50px;
  }
  .about__container_common {
    --offset:0;
}
}



/****************************************************************/

@media (max-width:1024px) {

    .nav{
      margin-right: 100px;
    }

    .header{
      padding: 26px 0px 22px 0px;
      margin-bottom: 40px;
    }
    .header__item{
      margin-right: 60px;
    }

    .container_promo{
      background-image: url(../img/promo-1024.jpg);
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 30px;
      padding-top: 161px;
      padding-left: 77px;
      padding-bottom: 160px;
  }

  .promo{
    margin-bottom: 38px;
  }

    .promo__tittle{
      font-size: 60px;
      margin-bottom: 20px;
      line-height: 71px;
    }

    .promo__descr{
      font-size: 20px;
      margin-bottom: 61px;
    }

    .promo__btn{
      padding-top: 25px;
      padding-bottom: 24px;
      padding-left: 0px;
      padding-right: 0px;
      min-width: 280px;
    }

    .about__container_common {
      --offset:0;
  }

  .about{
    margin-bottom: 80px;
  }

  .about__article{
    padding-right: 48px;

  }

  .about__container_left{
    width: 100%;
    padding-top: 446px;
  }

  .about__descr_bottom{
    margin-right: 31px;
    margin-right: 32px;
    word-spacing: -1px;
    letter-spacing: 1px;
  }

  .about__descr_top{
    margin-bottom: 59px;
  }

  .about__descr_top{
    width: 100%;
  }

  .about__item_cub{
    padding-left: 316px;
    background-position: 76px 64px;
    padding-top: 65px;
  }

  .about__item_sh{
    padding-left: 316px;
    padding-top: 65px;
    background-position: 76px 64px;
  }

  .about__list{
    width: 100%;
  }

  .stages{
    margin-bottom: 83px;
  }

.stages__tittle_main{
  margin-bottom: 36px;
}

  .stages__container_common{
    gap: 45px;
  }

  .stages__container_left{
    width: calc((100% - 39px) / (var(--offset) + 1));
  }

    .stages__img {
      width: calc((100% - 52px) / (var(--offset) + 1));
  }


  .stages__descr_top{
    margin-bottom: 23px;
    min-width: 0%;
    max-width: 758px;
    line-height: 32px;
  }
  .stages__btm_more{
    margin-right: 28px;
    padding: 20px 38px
  }

  .stages__btm_contract{
    padding: 20px 38px;
  }

  .questions{
    margin-bottom: 82px;
  }

  .questions__item{
    padding-top: 67px;
    padding-bottom: 0;
    padding-left: 59px;
  }

  .questions__list{
    --offset:0;
  }
  .questions__item{
    width: 100%;
  }

  .questions__tittle_cards{
    margin-bottom: 9px;
  }
  .questions__descr{
    max-width: 800px;
    margin-bottom: 61px;
}

  .container{
    padding-left: 50px;
    padding-right: 50px;
  }


  .footer{
    padding-top: 49px;
    padding-left: 4px;
  }

  .footer__container{
    margin-bottom: -1px;
  }

  .justifay{
    padding-left: 46px;
  }

  .footer__container_left{
    margin-right: 133px;
    padding-top: 0;
  }

  .footer__container_right{
    display: none;
  }

  .footer__tittle{
    margin-bottom: 27px;
  }

  .footer__input_name{
    width: 542px;
    padding-top: 23px;
    padding-left: 24px;
  }

  .footer__textarea{
    width: 542px;
    margin-bottom: 19px;
  }

  .footer__logo{
    padding-top: 0;
  }

  .footer__span{
    word-spacing: -2px;
  }

  .footer__btn{
    min-width: 240px;
    padding: 19px 33px;
  }

  .footer__list{
    margin-bottom: 92px;
  }

  .footer__item{
    white-space:nowrap;
  }




}

/****************************************************************/



















@media (max-width:992px){


  .header__logo_ev{
    width: 110px;
  }

  .justifay{
    flex-direction: column;
    align-items: flex-start;
  }

  .nav{
    margin-right: 43px;
  }

  .header__item{
    margin-right: 40px;
  }

  .footer__container_middle{
      margin-bottom: 50px;
  }
  .footer__container_left{
      order: 1;
      margin-right: 0;
  }
  .footer__container_left .footer__list{
      display: none;
  }
  .stages__container_common{
    --offset: 0;
  }

  .justifay{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__span::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 11px;
    width:  14px;
    height: 14px;
    border: 1px solid #fff;
    background-color: black;
  }

  .footer__span::after{
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    left: 0px;
    bottom: 11px;
    background-image: url(../img/Check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
  }
  .footer__container_right{
    display: none;
  }

  .footer__container_middle{
    margin-right: 0;
  }

  .footer__btn{
    margin-bottom: 12px;
  }

}

/*************************************/

















/*************************************************************************************************************/

@media (max-width:780px) {
  .container{
    padding-left: 50px;
    padding-right: 50px;
  }

  .container_promo{
    background-image: url(../img/promo-768.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
}

  .promo__tittle{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 18px;
  }

  .container_promo{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 162px;
 padding-bottom: 160px;
  }

  .header{
    padding-bottom: 13px;
    padding-top: 17px;
    margin-bottom: 39px;
  }

  .header__link_nav{
    font-size: 16px;
  }

  .promo__descr{
    font-size: 18px;
    margin-bottom: 62px;
  }

  .promo__btn{
    padding-top: 26px;
    padding-bottom: 24px;
    padding-left: 3px;
    padding-right: 4px;
    min-width: 280px;
  }

  .nav{
    margin-right: 43px
  }

  .header__item{
    margin-right: 41px
  }

.about{
  margin-bottom: 84px;
}

  .about__article{
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 33px;
    padding-right: 42px;
  }


  .about__descr_top{
    margin-bottom: 54px;
  }
  .about__descr_bottom{
    margin-right: 32px;
    word-spacing: normal;
    letter-spacing: normal;
  }

  .about__list{
    width: 100%;
  }

  .about__btn{
    min-width: 172px;
    padding: 19px 38px;
  }

  .about__container_left{
    width: 100%;
    padding-top: 454px;
  }

  .about__item_cub{
    width: 100%;
    padding-bottom: 31px;
    padding-top: 35px;
    padding-left: 169px;
    padding-right: 45px;
    min-height: 234px;
    background-image: url(../img/Frame-16-768.png);
    background-repeat: no-repeat;
    background-position: 39px 67px;
  }

  .about__item_sh{
    width: 100%;
    padding-bottom: 31px;
    padding-top: 35px;
    padding-left: 169px;
    padding-right: 45px;
    min-height: 234px;
    background-image: url(../img/Frame-12-768.png);
    background-repeat: no-repeat;
    background-position: 39px 67px;
  }

  .stages__container_left{
    width: 100%;
    order: 1;
  }

  .stages__tittle_main{
    margin-bottom: 31px;
  }

  .stages__img{
    width: 100%;
    background-image: url(../img/stages-768.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 25px;
    min-height: 284px;
  }

  .stages__container_common {
      gap: 41px;
  }

.stages__descr_top{
  margin-bottom: 24px;
}


.questions{
  margin-bottom: 80px;
}

.questions__descr{
  margin-bottom: 32px;
}

  br{
    display: none;
  }


  .questions__item{
    padding-left: 40px;
    padding-top: 36px;
  }

  .questions__tittle_cards{
    margin-bottom: 11px;
  }

.footer{
  padding-top: 53px;
}

.footer__form{
  max-width: 541px;
}

.footer__item_soc{
  margin-right: 25px;
}

  .justifay{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 46px;
  }

  .footer__container_middle{
      margin-bottom: 39px;
  }
  .footer__container_left{
      order: 1;
      margin-right: 0;
  }
  .footer__container_left .footer__list{
      display: none;
  }

  .footer__input_name{
    width: 100%;
    padding-bottom: 17px;
    padding-top: 19px;
  }
  .footer__textarea{
    width: 100%;
    margin-bottom: 27px;
  }

  .footer__container{
    display: block;
  }

  .footer__container_right{
    display: none;
  }

.footer__logo{
  margin-bottom: 11px;
}

  .footer__span::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 2px;
    width:  14px;
    height: 14px;
    border: 1px solid #fff;
    background-color: black;
  }

  .footer__span::after{
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    left: 0px;
    bottom: 2px;
    background-image: url(../img/Check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
  }
  }
/*********************************************************************************************************/



















@media (max-width:740px){
 .nav{
  margin-right: 13px;
 }
 .header__link_nav{
  font-size: 16px;
  white-space:nowrap;
 }

 .footer__container_middle{
  margin-right: 0;
 }

 .header__item{
  margin-right: 20px;
 }
}

@media (max-width:640px){
  .container__header {
    flex-wrap: wrap;
}
  .header__link_sertch{
    order: 0;
  }

  .header__item{
    margin-right: 24px;
  }

.justifay{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container_right{
  display: none;
}

.footer__btn{
  margin-bottom: 12px;
}

.footer__span::before{
  content: "";
  position: absolute;
  left: 0px;
  bottom: 11px;
  width:  14px;
  height: 14px;
  border: 1px solid #fff;
  background-color: black;
}

.footer__span::after{
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  left: 0px;
  bottom: 11px;
  background-image: url(../img/Check.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
}

}







@media (max-width:573px){

  .container__header {
    flex-wrap: wrap;
}

  .nav{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 17px;
  }

  .header{
    padding-left:15px;
    padding-right: 15px;
  }

  .header__link_nav{
    font-size: 16px;
    white-space:nowrap;
  }

  .header__item{
    display: inline-block;
  }

  .header__link_sertch{
    order: 0;
  }

  .container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .descr{
    font-size: 14px;
    font-weight: 400;
  }

  .container_promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/promo-320.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 60px 22px 59px 22px;
    border-radius: 14px;
}

.promo__tittle{
  font-size: 20px;
  text-align: center;
}

.promo__descr{
  font-size: 12px;
  margin-bottom: 32px;
  text-align: center;
}

.promo__btn{
    min-width: 162px;
    padding: 18px 37px;
    font-size: 12px;
    font-weight: 700;
}

.about{
  margin-bottom: 50px;
}

.about__container_left{
    position: relative;
    background-image: url(../img/about-3-320.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 20px;
    min-height: 200px;
    margin-bottom: 222px;
}

.about__descr_top{
  margin-bottom: 14px;
}

.about__article{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.about__descr_bottom{
  margin-bottom: 12px;
  color: #000;
  font-weight: 400;
}

.about__btn{
  color: var(--hover-focus-link);
  min-width: 162px;
  padding: 12px 44px;
  font-size: 12px;
  border-radius: 8px;
  border: 2px solid #F90;
}

.about__article{
  position: absolute;
  top: 486px;
  padding: 0;
  background-color: #fff;
}

.about__item_cub, .about__item_sh{
  border: none;
  padding: 57px 2px 0px 1px;
  background-position: 0px 1px;
}

.about__item_cub{
    background-image: url(../img/Frame-16-320.png);
    background-repeat: no-repeat;
}

.about__tittle_cards{
  font-size: 18px;
  font-weight: 500;
}

.about__item_sh{
  background-image: url(../img/Frame-12-320.png);
  background-repeat: no-repeat;
  background-position: 0px -3px;
}

.stages{
  margin-bottom: 60px;
}

.stages__container_common{
  gap: 16px;
}

.stages__tittle_main{
  font-size: 24px;
}

.stages__img{
  background-image: url(../img/stages-320.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: 25px;
  min-height: 160px;
}

.stages__tittle_cards{
  font-size: 18px;
  font-weight: 500;
}

.stages__container_mobile{
  display: flex;
}

.stages__btm_more{
    min-width: 162px;
    margin-right: 10px;
    padding: 12px 41px;
    font-size: 12px;
    border-radius: 8px;
}

.stages__btm_contract{
    min-width: 118px;
    padding: 12px 21px;
    font-size: 12px;
    border-radius: 8px;
}

.questions__tittle_main{
  font-size: 24px;
  font-weight: 400;
}

.questions__tittle_cards{
  font-size: 18px;
  font-weight: 500;
}

.questions__item{
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.justifay{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__tittle{
  font-size: 24px;
  font-weight: 400;
}

.footer__form{
  max-width: 290px;
}

.footer__input_name{
  width: 100%;
}

.footer__textarea{
  width: 100%;
}

.footer__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__btn{
    min-width: 162px;
    max-width: 162px;
    margin-right: 0px;
    padding: 12px 18px;
    font-size: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.footer__span::after{
  bottom: 11px;
  left: 1px;
}
.footer__span::before{
  bottom: 10px;
  left: 1px;
}

.footer__descr{
  display: none;
}

.footer__container_left{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-img{
width: 40px;
height: 40px;
}

}

@media (max-width:351px){
  .header{

    padding-bottom: 39px;
    margin-bottom: 21px;
    padding-left: 0;
    padding-right: 0;
  }
  .header__item{
    margin-right: 26px;
  }
.header__logo{
  margin-right: 156px;
}

.container_promo{
  background-size: 290px;
  padding: 61px 17px 61px 18px;
}
.promo{
  margin-bottom: 60px;
}
.promo__tittle{
  margin-bottom: 8px;
  line-height: 23px;
}
.promo__btn{
  padding: 12px 28px;
  border-radius: 5px;
}

.promo__descr{
  margin-bottom: 37px;
  line-height: 15px;
  margin-bottom: 33px;
}

.section-tittle{
font-size: 24px;
}

.about{
  margin-bottom: 57px;
}



.about__tittle_main {
  margin-bottom: 22px;
}

.about__descr_top {
  margin-bottom: 13px;

  line-height: 28px;
}
  .about__container_left{
    background-size: 290px;
    margin-bottom: -55px;
  }
  .about__article {
    position: absolute;
    top: 208px;

    background-color: none;
}

.about__descr_bottom {
  margin-bottom: 6px;
  margin-right: 23px;
  color: #000;
  font-weight: 400;
  line-height: 29px;
  word-spacing: 0px;
}
.about__btn{
  padding: 12px 41px;
}

.about__item_cub{
  padding-top: 62px;
}

.about__item_sh{
  padding-right: 8px;
  padding-top: 58px;
  background-position: 0px -3px;
}

.about__tittle_cards{
  margin-bottom: 4px;
}

.about__descr_cards{
  line-height: 29px;
  word-spacing: 1px;
}

.section-tittle {
  font-size: 24px;

}

.stages{
  margin-bottom: 61px;
}

.stages__tittle_main {
  margin-bottom: 20px;
}

.stages__img{
  background-size: 290px;
}

.stages__tittle_cards {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
}

.stages__container_left {
  width: 100%;
  order: 1;
  padding-top: 6px;
}

.stages__descr_top{
  line-height: 28px;
  margin-bottom: 24px;
}

.stages__container_mobile {
  display: flex;

}
 .questions{
  margin-bottom: 57px;
 }
.questions__tittle_main {
  font-size: 24px;
  font-weight: 400;

  margin-bottom: 22px;
}

.questions__list {
  --offset: 0;

  padding-right: 5px;
}

.questions__tittle_cards{
  margin-bottom: 3px;
}

.questions__descr {
  margin-bottom: 0;
  line-height: 29px;
}

.footer {
  padding-top: 31px;
  padding-left: 0;
  padding-bottom: 0;
}

.footer__container_middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 18px;
  padding-bottom: 13px;
  border-bottom: 1px solid grey;
}

.footer__tittle{
  margin-bottom: 22px;
}

.footer__container {
  display: flex;
  flex-direction: column;

}

.footer__input_name{
  padding-bottom: 21px;
  padding-top: 22px;
  padding-left: 17px;
  padding-right: 14px;
  margin-bottom: 21px;
}

.footer__input{
  padding-bottom: 19px;
  margin-bottom: 23px;
}

.footer__textarea{
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-right: 14px;
    margin-bottom: 23px;
}


.footer__span::after{
  bottom: 22px;
}

.footer__span::before{
  bottom: 22px;
}

.footer__logo{
  width: 131px;
  margin-bottom: 16px;
}

.footer__item_soc {
  margin-right: 14px;
}

.footer__btn{
  margin-bottom: 12px;
}

}








