@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratBold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
       font-display: swap;
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold')
       url('../fonts/MontserratExtraBold.woff2') format('woff2'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff');
       font-display: swap;
       font-weight: 800;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular')
       url('../fonts/MontserratRegular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold')
       url('../fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
       font-display: swap;
       font-weight: 600;
       font-style: normal;
}

html {
	box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

 body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background: #fff;
 }

.container{
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 50px;

}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}


h2, h1, h3, p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.descr{
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: #000;
}

.section-tittle{
  font-size: 48px;
  font-weight: 400;
  color: #000;
}

:root{
  --hover-focus-link: #F90;
  --active:#E1670E;
  --hover-focus-butn-banner:#FFB84D;
  --hover-focus-сontract:#666;
  --active-contracr:#000;
  --gap: 32px;
}

/*section header*/

.header{
  width: inherit;
  padding: 14px 0px 14px  0px;
  margin: 0 auto;
  margin-bottom: 46px;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}


.container__header{
  display: flex;
}

.header__logo{
  margin-right: auto;
}

.header__item{
  margin-right: 85px;
}

.nav{
  margin-right: 82px;
}

.header__item:last-child{
  margin-right: 0;
}

.header__link_nav{
  position: relative;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
  color: #000;
}

.header__link_nav::after{
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 2px solid var(--hover-focus-link);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.header__link_sertch{
  order: 1;
}

.header__link_nav:hover::after{
  opacity: 1;
}

.header__link_nav:focus::after{
  opacity: 0;
}

.header__link_nav:focus{
  outline: 2px solid var(--hover-focus-link);
  outline-offset: 5px;
}

.header__link:active{
  color: var(--active);
  outline: none;
}

.header__link:active::after{
  opacity: 1;
  border-bottom: 2px solid var(--active);
}

.header__img{
  width: 24px;
  height: 24px;
  stroke: #000;
  transition: stroke 0.3s ease-in-out;
}

.header__link_sertch:hover .header__img{
  stroke: var(--hover-focus-link);
}

.header__link_sertch:focus .header__img{
  outline: 2px solid var(--hover-focus-link);
  outline-offset: 7px;
  stroke: #000;
}

.header__link_sertch:active .header__img{
  stroke: #000;
  outline: 0;
}

.header__btn{
  border: none;
  background-color: #FFF;
}

/*section promo*/

.promo{
  margin-bottom: 54px;
}

.container_promo{
  padding-top: 105px;
  padding-bottom: 101px;
  padding-left: 80px;
  padding-right: 80px;
  background-image: url(../img/promo.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.promo__tittle{
  max-width: 837px;
  margin-bottom: 28px;
  font-size: 70px;
  font-weight: 800;
  color: #FFF;
}

.promo__descr{
  max-width: 837px;
  margin-bottom: 92px;
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
}

.promo__btn{
  min-width: 280px;
  padding: 24px 39px;
  border: 1px solid var(--hover-focus-link);
  border-radius: 16px;
  background: #F90;
  color: #FFF;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;
}

.promo__btn:hover{
  background-color: var(--hover-focus-butn-banner);
  border-color: var(--hover-focus-butn-banner);
}

.promo__btn:focus{
  background-color: var(--hover-focus-butn-banner);
  border-color: var(--hover-focus-butn-banner);
}

.promo__btn:active{
  background-color: var(--active);
  border-color: var(--active);
}


/*section about*/

.about{
  margin-bottom: 105px;
}

.about__tittle_main{
  margin-bottom: 22px;

}

.about__descr_top{
  margin-bottom: 49px;
  max-width: 1235px;
  letter-spacing:-0.3px;
  word-spacing: 2.4px;
}

.about__container_common{
  display: flex;
  --offset:1;
  gap: var(--gap);
  flex-wrap: wrap;
}

.about__container_left{
  width: calc((100% - var(--gap)) / (var(--offset) + 1));
  min-height: 500px;
  background-image: url(../img/about-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  align-items: flex-end;
  border-radius: 20px;
}

.about__article{
  width: 100%;
  padding: 49px;
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 30px;
}

.about__descr_bottom{
  margin-right: 162px;
  max-width: 433px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px; /* 200% */
  word-spacing: 1px;
  color: #FFF;
}

.about__btn{
  min-width: 175px;
  padding: 19px 36px;
  border: 1px solid var(--hover-focus-link);
  border-radius: 16px;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in-out;
}

.about__btn:hover{
  background-color: var(--hover-focus-link);
}

.about__btn:focus{
  background-color: var(--hover-focus-link);
}

.about__btn:active{
  background-color: var(--active);
  border-color: var(--active);
}

.about__list{
  width: calc((100% - var(--gap)) / (var(--offset) + 1));
}

.about__item_cub{
  position: relative;
  margin-bottom: 32px;
  min-height: 295px;
  padding: 67px 114px 60px 299px;
  border: 1px solid #CACACA;
  border-radius: 20px;
  background-image: url(../img/Frame-16.png);
  background-repeat: no-repeat;
  background-position: 58px 65px;
}

.about__item_sh{
  position: relative;
  min-height: 295px;
  padding: 61px 114px 60px 299px;
  border: 1px solid #CACACA;
  border-radius: 20px;
  background-image: url(../img/Frame\ -12.png);
  background-repeat: no-repeat;
  background-position: 58px 65px;
}

.about_list-item:last-child{
  margin-bottom: 0;
}

.about__descr_cards{


  letter-spacing: -0.2px;
  word-spacing: 1px;
}

.about__tittle_cards{
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

/*section stages*/

.stages{
  margin-bottom: 105px;
}

.stages__tittle_main{
  margin-bottom: 34px;
}

.stages__container_common{
  display: flex;
  flex-wrap: wrap;
  --offset: 1;
  gap: 69px;
}



.stages__container_left{
  width: calc((100% - 103px) / (var(--offset) + 1));
  min-height: 463px;
}

.stages__tittle_cards{
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.stages__img{
  width: calc((100% - 37px) / (var(--offset) + 1));
  min-height: 463px;
  background-image: url(../img/stages.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: 25px;
}

.stages__descr_top{
  margin-bottom: 17px;
  min-width: 758px;
  line-height: 39px;
}

.stages__span{
  display: block;
}

.stages__btm_more {
  min-width: 175px;
  margin-right: 25px;
  padding: 19px 38px;
  background-color: var(--hover-focus-link);
  border: 1px solid var(--hover-focus-link);
  border-radius: 16px;
  color: #FFF;
  transition: background-color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;
}

.stages__btm_more:hover{
  background-color: var(--hover-focus-butn-banner);
  border-color: var(--hover-focus-butn-banner);
}

.stages__btm_more:focus{
  background-color: var(--hover-focus-butn-banner);
  border-color: var(--hover-focus-butn-banner);
}

.stages__btm_more:active{
  background-color: var(--active);
  border-color: var(--active);
}

.stages__btm_contract{
  min-width: 147px;
  padding: 18px 38px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 16px;
  color: #000;
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;
}

.stages__btm_contract:hover{
  background-color: var(--hover-focus-сontract);
  border-color: var(--hover-focus-сontract);
  color: #fff;
}

.stages__btm_contract:focus{
  background-color: var(--hover-focus-сontract);
  border-color: var(--hover-focus-сontract);
  color: #fff;
}

.stages__btm_contract:active{
  background-color: var(--active-contracr);
  border-color: var(--active-contracr);
  color: #fff;
}

/*section questions*/

.questions{
  margin-bottom: 96px;
}

.questions__tittle_main{
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 400;
  color: #000;
}

.questions__list{
  --offset:2;
  gap: var(--gap);
  flex-wrap: wrap;
  align-items: stretch;
}



.questions__item{
  width: calc((100% - var(--gap) * var(--offset))/ (var(--offset) + 1));
  padding: 66px 59px;
  border: 1px solid #CACACA;
  border-radius: 32px;
}

.questions__tittle_cards{
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.questions__descr{
  max-width: 450px;
}

/*section footer*/

.footer{
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
}

.justifay{
  justify-content: space-between;
}

.footer_midle_bottom{
  display: none;
  padding-top: 50px;
}

.footer__container_main{
  display: flex;
  width: 100%;
}





.footer__container_left{
  max-width: 300px;
  margin-right: 188px;
}

.footer__logo{
  margin-bottom: 14px;
}

.footer__list{
  margin-bottom: 90px;
}

.footer__links_left{
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px; /* 200% */
  color: #CACACA;
  transition: color 0.3s ease-in-out;
}

.footer__links_left:focus{
  outline: 1px solid var(--hover-focus-link);
  outline-offset: 2px;
}

.footer__links_left:hover{
  color: var(--hover-focus-link);
}


.footer__links_left:active{
  color: var(--active);
  outline: none;
}


.footer__item_soc{
  margin-right: 22px;
}

.footer-img{
  fill: #666;
  transition: fill 0.3s ease-in-out;
}

.footer__links_soc:hover .footer-img{
  fill: var(--hover-focus-link);
}

.footer__links_soc:focus{
  outline: 2px solid var(--hover-focus-link);
  outline-offset: 5px;
}

.footer__links_soc:active{
  outline: none;
}

.footer__links_soc:focus .footer-img{
  fill: #666;
}

.footer__links_soc:active .footer-img{
  fill: var(--active);
}

.footer-img:last-child{
  margin-right: 0;
}

.footer__form{
  max-width: 570px;
}

.footer__tittle{
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  color: #CACACA;
}

.footer__container_middle{
  max-width: 578px;
  margin-right: 74px;
}

.footer__input_name{
  width: 570px;
  margin-bottom: 29px;
  padding-bottom: 17px;
  padding-top: 19px;
  padding-left: 22px;
  padding-right: 14px;
  border: 1px solid #414141;
  border-radius: 20px;
  background-color: #414141;
  color: #fff;
  transition: background-color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;
}

.footer__input_name:last-child{
  margin-bottom: 19px;
}

input::placeholder{
  color: #CACACA;
}

textarea::placeholder{
  color: #CACACA;
}

.footer__input_name:hover{
  background-color: #666;
  border-color: #666;;
}

.footer__input_name:focus{
  background-color: #666;
  border-color: #666;
  outline: none;
}

.footer__input_name:active{
  background-color: #666;
  border-color: #666;
}

.footer__textarea{
  width: 570px;
  margin-bottom: 26px;
  min-height: 148px;
  padding-left: 22px;
  padding-top: 21px;
  padding-bottom: 14px;
  padding-right: 14px;
  border: 1px solid #414141;
  border-radius: 20px;
  background-color: #414141;
  color: #fff;
  transition: background-color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;
}

.footer__textarea:hover{
  background-color: #666;
  border-color: #666;;
}

.footer__textarea:focus{
  background-color: #666;
  border-color: #666;
  outline: none;
}



.footer__textarea:active{
  background-color: #666;
  border-color: #666;
}

.footer__btn {
  min-width: 269px;
  margin-right: 16px;
  padding: 19px 50px;
  background-color: var(--hover-focus-link);
  border: 1px solid var(--hover-focus-link);
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  transition: background-color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;
}

.footer__btn:hover{
  background-color: var(--hover-focus-butn-banner);
  border-color: var(--hover-focus-butn-banner);
}

.footer__btn:focus{
  background-color: var(--hover-focus-butn-banner);
  border-color: var(--hover-focus-butn-banner);
}

.footer__btn:active{
  background-color: var(--active);
  border-color: var(--active);
}

.footer__span{
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 0.1px;
  word-spacing: 0px;
  color: #CACACA;
}

.footer__descr{

  max-width: 363px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: #CACACA;
}

.footer__label{
  position: relative;
  cursor: pointer;
}

.footer__input_checkbox{
  cursor: pointer;
}

.footer__span::before{
  content: "";
  position: absolute;
  left: 0px;
  bottom: 3px;
  width:  14px;
  height: 14px;
  border: 1px solid #fff;
  background-color: black;
}

.footer__span::after{
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  left: 0px;
  bottom: 4px;
  background-image: url(../img/Check.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
}

.footer__input_checkbox:checked + .footer__span::after{
  opacity: 1;
}


.footer-img{
  width: 60px;
  height: 60px;
}

