/*@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratBold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
       font-display: swap;
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold')
       url('../fonts/MontserratExtraBold.woff2') format('woff2'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff');
       font-display: swap;
       font-weight: 800;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular')
       url('../fonts/MontserratRegular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold')
       url('../fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
       font-display: swap;
       font-weight: 600;
       font-style: normal;
}*/

html {
	box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

 body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: white
 }

.container{
  max-width: 1375px;
}

.outline__line{
  outline: 1px solid pink;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h2, h1, h3, p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container{
  max-width: 90%;
}

/*headere*/

.header__container{
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__items{
  margin-right: 35px;
}

.header__items:last-child{
  margin-right: 0;
}

.header__link_nav{
  font-size: 18px;
  padding: 10px;
  transition: 0.3s linear;
}

.header__link_nav:hover{
  background: #79b1a4;
  color: white;
}

.descr__header_tettle{
  padding: 10px;
  font-size: 18px;
  transition: 0.3s linear;
}

.descr__header_tettle:hover{
  background: #79b1a4;
  color: white;
}

.header__link_fon{
  order: 1;
  font-size: 18px;
  padding: 10px;
  transition: 0.3s linear;
}

.header__link_fon:hover{
  background: #79b1a4;
  color: white;
}


/*Section__promo*/

.promo{
  padding-top: 60px;
  padding-bottom: 60px;
}

.container__promo{
  display: none;
  margin-bottom: 60px;
}

.promo__tittle_main{
  font-size: 71px;
  margin-bottom: 25px;
}


.promo__items_container_info{
  padding: 40px;
  background: #f2f2f2;
  border-radius: 25px;
}
.promo__descr_cet{
  font-size: 20px;
  margin-bottom: 25px;
}

.promo__descr_info{
  font-size: 18px;
  padding-bottom: 25px;
}

.promo__btn{
  color: white;
  font-size: 18px;
  padding: 20px 40px 20px 40px;
  background: #478ac9;
  border: none;
  transition: 0.3s linear;
}

.promo__btn:hover{
  background: #64b2fb;
}

.promo__pchiho_items_info_container{
  padding: 40px;
  border: 1px solid rgb(155, 148, 148, 36%);
  min-height: 340px;
}

.promo__items_container_img{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-image: url(../img/oleg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__pchiho_items_img_container{
  width: 100%;
  height: 100%;
  background-image: url(../img/Understanding+your+audience+v2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.promo__tittle_pchiho{
  font-size: 45px;
  margin-bottom: 25px;
}

.promo__pchiho_descr{
  line-height: 25px;
  font-size: 18px;
}

/*section__blog*/
.blog{
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f2f2f2;
  margin-bottom: 60px;

}

.blog__tittle_main{
  font-size: 45px;
  color: black;
  margin-bottom: 30px;
}

.blog__item_main{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 25px;
}

.blog__item_main:nth-child(1) .blog__item_container_img{
  background-image: url(../img/samoterzanie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(2) .blog__item_container_img{
  background-image: url(../img/neuverennost.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(3) .blog__item_container_img{
  background-image: url(../img/who.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(4) .blog__item_container_img{
  background-image: url(../img/strah.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(5) .blog__item_container_img{
  background-image: url(../img/who.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(6) .blog__item_container_img{
  background-image: url(../img/samoterzanie.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(7) .blog__item_container_img{
  background-image: url(../img/neuverennost.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(8) .blog__item_container_img{
  background-image: url(../img/strah.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(9) .blog__item_container_img{
  background-image: url(../img/strah.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(10) .blog__item_container_img{
  background-image: url(../img/strah.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(11) .blog__item_container_img{
  background-image: url(../img/neuverennost.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(12) .blog__item_container_img{
  background-image: url(../img/who.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__link{
  padding: 10px;
  text-align: center;
  border: none;
  width: 120px;
  height: 40px;
  color: white;
  border: none;
  background:  #79b1a4;
  transition: 0.3s linear;
}

.blog__link:hover{
  background: #79b1a4;
}

.blog__item_container{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 200px;
  padding-bottom: 20px;
  align-items: center;
  background: white;
}


.blog__item_container_img{
  width: 225px;
  border-radius: 78px;
  height: 206px;
  margin-bottom: 20px;
}

.blog__descr_main{
  flex: 1;
  margin-bottom: 20px;
  color: black;
  line-height: 25px;
}

.blog__tittle_item{
  margin-bottom: 15px;
  height: 43px;
  width: 100%;
  border-bottom: 3px solid #79b1a4;
  color: black
}

/*section__info__form*/

.info__forme{
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f2f2f2;
  border-radius: 25px;
}
 .forme{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
 }

 .input__forme_name{
  width: calc((100% - 25px) / 2);
  height: 50px;
  border-radius: 26px;
  border: none;
  padding: 40px;
 }

 .input__forme_fam{
  width: calc((100% - 25px) / 2);
  height: 50px;
  border-radius: 26px;
  border: none;
  padding: 40px;
 }

 .input__forme_email{
  height: 50px;
  width: 100%;
  border-radius: 26px;
  border: none;
  padding: 40px;
 }

 .forme__texarea{
  width: 100%;
  height: 180px;
  border-radius: 26px;
  border: none;
  padding: 40px;
 }

 .forme__btn{
  width: 200px;
  padding: 15px;
  border: none;
  color: white;
  background: #478ac9;
  transition: 0.3s linear;
 }

 .forme__btn:hover{
  background: #64b2fb;
 }

 .label__container{
  display: flex;
  align-items: center;
  gap: 20px;
 }

 .info__forme__tittle{
  font-size: 45px;
  margin-bottom: 15px;
 }

 .info__forme__descr{
  line-height: 25px;
  margin-bottom: 25px;
  font-size: 20px;
 }

 /*section__footer*/

 .footer{
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(30, 30, 30);
 }

 .footer__tittle_main{
  margin-bottom: 25px;
  font-size: 45px;
  color: white;
 }

 .footer__logo{
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
 }

.footer__descr_map{
  color: white;
  line-height: 25px;
}

.footer__conainer__list_nav{
  display: flex;
  justify-content: space-between;
}

.footer__items_nav{

}

.footer__link_nav{
  color: white;
}

.footer__list{
  display: flex;
  align-items: flex-end;
}

.footer__link_fon{
  color: white;

}

.mail__footer{
  color: white;
}

.footer__conainer__list_contacts{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.footer__container__contacts{
  margin-right: 9%;
  transition: 0.3s linear;
}



.footer__container__contacts:last-child{
  margin-right: 0;
}

.footer__container__contacts:hover{
  background-color: #79b1a4;
}

.nav__soc_about{
  display: flex;
  justify-content: center;
  margin-left: auto;
  background: white;
  width: 190px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 26px;
  transition: 0.3s linear;
}

.nav__soc_about:hover{
  background: rgba(252,229,1, 0.9);
}

.contacts__item_nav_soc_item{
  margin-right: 10px;
}

.contacts__item_nav_soc_item:last-child{
  margin-right: 0px;
}

/*section articles*/
.articles{
  padding-top: 60px;
  padding-bottom: 60px;
}

.articles__list{
  display: flex;
  margin-bottom: 50px;
  border-radius: 25px;
  padding: 20px;
  background: #f2f2f2;
}

.container__img{
  width: 100%;
  height: 500px;
  margin-bottom: 15px;
  background-image: url(../img/samoterzanie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.articles__tittle_main{
  border-bottom: 3px solid #79b1a4;
}

.articles__span{
  display: block;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 25px;
}

.articles__tittle_info{
  margin-bottom: 10px;
}

.articles__descr_main{
  margin-bottom: 25px;
  line-height: 25px;
}

.articles__list{

}

.articles__list:nth-child(2) .container__list .articels__container_img .container__img{
  background: url(../img/neuverennost.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articles__list:nth-child(3) .container__list .articels__container_img .container__img{
  background: url(../img/who.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articles__list:nth-child(4) .container__list .articels__container_img .container__img{
  background: url(../img/strah.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tittle__rid{
  font-size: 45px;
  margin-bottom: 45px;
}

.articles__link_main{
  display: flex;
}

.articles__link_сontent{
  margin-right: 35px;
  padding: 20px;
  background-color: #79b1a4;

  color: white;
}

.articles__link_next{
  margin-right: 35px;
  padding: 20px;
  background-color: #79b1a4;

  color: white;
}


/*swction__video*/

.video{

  padding-bottom: 60px;
}
.video_video{
  width: 100%;
  border-radius: 25px;
}


.video_tittle_main{
  font-size: 45px;
  margin-bottom: 45px;
}

.video__tittle_item{
  margin-bottom: 15px;
}

