@media(max-width:1500px){
  .services__list .col-lg-3{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .services__items_main{
    margin-bottom: 25px;
  }

  .services__items_main:last-child{
    margin-bottom: 0px;
  }

  .services__items_main:nth-last-child(2){
    margin-bottom: 0;
  }

  .services__items_img {
    width: 100%;
    border-radius: 15px;
    height: 206px;
    margin-bottom: 20px;
}

.promo__blog_ifo{
  width: 37%;
}
}

@media(max-width:1400px){
  .about__list{
    display: flex;
    flex-direction: column;
  }

  .about__item_img{
    order: -1;
    margin-bottom: 25px;
  }

  .about__item_foto{
    width: calc((100% - 40px) / 3);
    border-radius: 72px;
  }

  .about__list .col-lg-5{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 100.00%;
  max-width: 100.00%;
  }

    .about__list .col-lg-7{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 100.00%;
    max-width: 100.00%;
  }

  .women__item_img {
    display: none;
  }

  .women__list_main .col-lg-7{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .blog__list .col-lg-3{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .team__list .col-lg-3{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .team__item{
    margin-bottom: 25px;
  }

  .blog__item_main{
    margin-bottom: 25px;
  }

  .blog__item_main:last-child{
    margin-bottom: 0px;
  }

  .blog__item_main:nth-last-child(2){
    margin-bottom: 0;
  }

  .promo__blog_ifo{
    width: 37%;
  }

  }

  @media(max-width:1338px){
    .footer__list .col-lg-6{
      flex: 0 0 100%;
      max-width: 100%;
    }

    .footer__items{
      margin-bottom: 15px;
    }
  }

  @media(max-width:1025px){
    .promo__tittle_pchiho{
      font-size: 35px;
    }

    .promo__blog_ifo {
      width: 54%;
      height: 60%;
  }
  }

  @media(max-width:1001px){
    .header__items{
      margin-right: 10px;
    }

    .team__list .col-lg-4{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
      flex: 100%;
      max-width: 100%;
    }

    .team__item{
      margin-bottom: 25px;
    }

    .team__item:last-child{
      margin-bottom: 0;
    }

    .team__item:nth-last-child(2){
      margin-bottom: 0;
    }
  }

  @media(max-width:991px){
  .promo__items_img{
    order: -1;
    margin-bottom: 25px;
  }

  .promo__list .col-md-12{
    height: 250px;
  }

  .container__promo{
    margin-bottom: 150px;
  }

  .promo__pchiho_list .col-md-12{
    height: 250px;
  }

  .promo__pchiho_items_info{
    margin-bottom: 40px;
  }

  .promo__pchiho_items_info_container{
    min-height: 262px;
  }
  }

  @media(max-width:914px){
    .header__container{
      flex-wrap: wrap;
    }

    .header__link_fon{
      order: 0;
    }

    .header__nav{
      margin: auto;
    }
  }

  @media(max-width:769px){
    .header__nav{
      padding-top: 15px;
      width: 100%;
    }

    .services__items_main:nth-last-child(2) {
      margin-bottom: 25px;
  }

    .header__list{
      justify-content: space-between;
    }

    .header__items{
      margin-right: 0;
    }

    .why__psichology_descr_bot{
      margin-bottom: 20px;
    }

    .promo__blog_ifo{
      padding: 36px;
      height: 40%;
    }
    .services__list .col-lg-3{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .promo__pchiho_items_info {
      margin-bottom: 70px;
  }

  .container__promo {
    margin-bottom: 185px;
}

.promo__blog_icon {
  right: 16px;
  bottom: 20px;
  position: absolute;
  width: 10%;
  fill: black;
  height: 33px;
}

.promo__blog_ifo {
  padding: 20px;
  height: 34%;
  width: 67%;
}

.about__item_foto {
  width: calc((100% - 40px) / 3);
  border-radius: 25px;
}

.team__list .col-lg-3{
  flex: 0 0 100%;
  max-width: 100%;
}

.team__item:nth-last-child(2){
  margin-bottom: 25px;
}



.footer__conainer__list_contacts{
  flex-wrap: wrap;
  justify-content: left;
}

.footer__container__contacts{
  margin-bottom: 9%;
}


  }

  @media(max-width:577px){
    .promo__pchiho_items_info {
      margin-bottom: 100px;
  }

  .blog__list .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
}

.blog__item_main:nth-last-child(2) {
  margin-bottom: 25px;
}

.blog__item_container_img{
  width: 100%;
  border-radius: 15px;
}

  }




  @media(max-width:541px){
    .header__list{
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }

    .promo__items_info{
      margin-bottom: 253px;
    }


  .about__list_foto .about__item_foto:nth-child(1){
    width: 100%;
    border-radius: 15px;
  }
  .about__list_foto .about__item_foto:nth-child(2){
    display: none;
  }


  .about__list_foto .about__item_foto:nth-child(3){
    display: none;
  }


  .promo__pchiho_items_info {
    margin-bottom: 73px;
}

.container__promo {
  margin-bottom: 11px;
}

.promo__pchiho_items_info {
  margin-bottom: 153px;
}
  }





  @media(max-width:431px){
    .header__list{
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }

    .promo{
      padding-top: 5px;
    }

    .promo__descr_cet{
      font-size: 20px;
      margin-bottom: 10px;
    }

    .promo__tittle_main{
      font-size: 45px;
      margin-bottom: 27px;
    }

    .promo__descr_info{
      font-size: 18px;
    }

    .promo__items_img{
      order: 0;
    }

    .promo__items_info{
      margin-bottom: 197px;
    }

    .container__promo{
      margin-bottom: 0;
    }

    .promo__pchiho_items_info {
      margin-bottom: 283px;
  }

  .about__tittle_lk{
    padding-top: 10px;
  }

  .about__list_foto .about__item_foto:nth-child(1){
    width: 100%;
    border-radius: 15px;
  }
  .about__list_foto .about__item_foto:nth-child(2){
    display: none;
  }


  .about__list_foto .about__item_foto:nth-child(3){
    display: none;
  }
  .why__psichology_descr_info{
    margin-right: 0;
  }



.promo__blog_ifo {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 48%;
  width: 73%;
  background: white;
  border-radius: 45px;
  left: calc(100% / 6);
  bottom: calc(100% / 6);
}

.input__forme_name{
  width: 100%;
}

.input__forme_fam{
  width: 100%;
}

.services__items_main:nth-last-child(2) {
  margin-bottom: 25px;
}

.vision_items_container{
  display: flex;
  flex-direction: column;
}

.vision__conatiner_img{
  margin-right: 0;
  margin-bottom: 10px;
}

.vision__tittle_items{
  text-align: center;
}

.vision__descr{
  text-align: center;
}

.articles__list {
  display: flex;
  margin-bottom: 50px;
  border-radius: 25px;
  padding: 20px;
  background: #f2f2f2;
  flex-direction: column;
}
  }

  @media(max-width:390px){
    .promo__items_info{
      margin-bottom: 263px;
    }

    .promo__pchiho_items_info {
      margin-bottom: 326px;
  }

  .services__items_main:nth-last-child(2) {
    margin-bottom: 25px;
}

.promo__blog_ifo{
  height: 54%;
}

  }
