/*@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratBold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
       font-display: swap;
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold')
       url('../fonts/MontserratExtraBold.woff2') format('woff2'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff');
       font-display: swap;
       font-weight: 800;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular')
       url('../fonts/MontserratRegular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold')
       url('../fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
       font-display: swap;
       font-weight: 600;
       font-style: normal;
}*/

html {
	box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

 body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: white
 }

.container{
  max-width: 1375px;
}

.outline__line{
  outline: 1px solid pink;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h2, h1, h3, p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container{
  max-width: 90%;
}

/*headere*/

.header__container{
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__items{
  margin-right: 35px;
}

.header__items:last-child{
  margin-right: 0;
}

.header__link_nav{
  font-size: 18px;
  padding: 10px;
  transition: 0.3s linear;
}

.header__link_nav:hover{
  background: #478ac9;
  color: white;
}

.descr__header_tettle{
  padding: 10px;
  font-size: 18px;
  transition: 0.3s linear;
}

.descr__header_tettle:hover{
  background: #478ac9;
  color: white;
}

.header__link_fon{
  order: 1;
  font-size: 18px;
  padding: 10px;
  transition: 0.3s linear;
}

.header__link_fon:hover{
  background: #478ac9;
  color: white;
}


/*Section__promo*/

.promo{
  padding-top: 60px;
  padding-bottom: 60px;
}

.container__promo{
  margin-bottom: 60px;
}

.promo__tittle_main{
  font-size: 71px;
  margin-bottom: 25px;
}


.promo__items_container_info{
  padding: 40px;
  background: #f2f2f2;
  border-radius: 25px;
}
.promo__descr_cet{
  font-size: 20px;
  margin-bottom: 25px;
}

.promo__descr_info{
  font-size: 18px;
  padding-bottom: 25px;
}

.promo__btn{
  color: white;
  font-size: 18px;
  padding: 20px 40px 20px 40px;
  background: #478ac9;
  border: none;
  transition: 0.3s linear;
}

.promo__btn:hover{
  background: #64b2fb;
}

.promo__pchiho_items_info_container{
  padding: 40px;
  border: 1px solid rgb(155, 148, 148, 36%);
  min-height: 340px;
}

.promo__items_container_img{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-image: url(../img/oleg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__pchiho_items_img_container{
  width: 100%;
  height: 100%;
  background-image: url(../img/fon2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.promo__tittle_pchiho{
  font-size: 45px;
  margin-bottom: 25px;
}

.promo__pchiho_descr{
  line-height: 25px;
  font-size: 18px;
}

/*section__services*/
.services{
  padding-top: 60px;
  background: #f2f2f2;;
  padding-bottom: 80px;

}

.services__tittle_main{
  font-size: 45px;
  margin-bottom: 30px;
}

.services__items_main{
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.services__items_main:nth-child(1)  .services__items_img{
  background-image: url(../img/consult.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__items_main:nth-child(2)  .services__items_img{
  background-image: url(../img/terrapia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__items_main:nth-child(3)  .services__items_img{
  background-image: url(../img/group__terr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__items_main:nth-child(4)  .services__items_img{
  background-image: url(../img/trening.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__items_container{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 200px;
  padding-bottom: 10px;
  align-items: center;
  background: white;
  transition: 0.3s linear;
}

.services__items_container:hover{
  background: white;
}

/*.services__items_container:hover  .services__btn{
  background: rgba(252,229,1, 0.9);
}
*/


.services__descr{
  flex: 1;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.services__tittle_items{
  margin-bottom: 15px;
  height: 43px;
  width: 100%;
  border-bottom: 1px solid black;

}

.services__btn{
  width: 120px;
  height: 40px;
  color: white;
  border: none;
  background:  #478ac9;
  transition: 0.3s linear;
  transition: 0.3s linear;
}

.services__btn:hover{
  background: #64b2fb;
}

.services__items_img{
  width: 225px;

  border-radius: 78px;
  height: 206px;

  margin-bottom: 20px;
}

.services__promo{
  height: 500px;
}

.contacts__maps{
  border: none;
  width: 100%;
  height: 100%;
}

.map__container{
  height: 100%;
  position: relative;
}

.footer__fon{
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}


.services__promo_tittle{
  font-size: 45px;
}


/*section about*/

.about{
  background:white;
  padding-top: 60px;
  padding-bottom: 60px;

}

.about__tittle_main{
  margin-bottom: 30px;
  font-size: 45px;
  margin-bottom: 25px;
  color: black;
}

.about__item_info{

}

.about__item_img{


}

.about__item_info_container{
  padding: 25px;
  background: white;
  border-radius: 25px;
  transition: 0.3s linear;
}




.about__item_container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px;
  background: #f2f2f2;
  border-radius: 25px;
  transition: 0.3s linear;
}





.about__item_container:hover .about__tittle_lk{
  color: black;
}



.about__tittle_info{
  margin-bottom: 25px;
}

.about__tittle_lk{
  margin-bottom: 25px;
}

.about__descr_img{
  font-style: italic;
  margin-bottom: 10px;
}

.about__descr{
  font-size: 18px;
  line-height: 25px;
}

.about__item_img_lk{
  background-image: url(../img/oleg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 239px;
  height: 240px;
  border-radius: 160px;
  margin: auto;
}

.about__item_foto{
  background-image: url(../img/oleg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 239px;
  height: 240px;
  border-radius: 160px;
  margin: auto;
}
.about__list_foto{
  display: flex;
  margin-bottom: 20px;
}

.nav__soc_about{
  display: flex;
  justify-content: center;
  margin-left: auto;
  background: white;
  width: 190px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 26px;
  transition: 0.3s linear;
}

.nav__soc_about:hover{
  background: rgba(252,229,1, 0.9);
}

.contacts__item_nav_soc_item{
  margin-right: 10px;
}

.contacts__item_nav_soc_item:last-child{
  margin-right: 0px;
}

/*section__women*/
.women{
  background: rgba(30 30 30);
  border-radius: 35px;
  padding-top: 60px;
  margin-bottom: 60px;
}

.women__tittle_main{
  font-size: 45px;
  margin-bottom: 25px;
  color: white;
}

.women__img_container{
  background-image: url(../img/arrangement-beautiful-bloomed-flowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 70%;
  border-radius: 482px;
}

.women__item_container{
  min-height: 420px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 25px;
  background: white;
  transition: 0.4s linear;
}

.women__item_container:hover .women__tittle_item{
  color: black;
}

.women__list_problems{
  list-style: disc;
}

.women__descr{
  line-height: 25px;
  margin-bottom: auto;
}

.women__item_img{
  display: flex;
  align-items: center;
}

.women__descr_time{
  font-weight: 600;
  margin-right: auto;
  color: black;
}

.women__item_problems{
  margin-bottom: 12px;
}

.women__item_sp{
  display: flex;
  align-items: stretch;
  margin-bottom: 25px;
}

.women__item_sp:nth-child(4) .women__span{
  margin-bottom: 5px;
}

.women__item_sp:nth-child(1) .women__list_problems{
  margin-bottom: auto;
}

.women__tittle_item{
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  color: black;
  border-bottom: 1px solid black;
}

.women__span{
  color: black;
  display: block;
  width: 100%;
  background: rgba(252,229,1);
  padding: 11px;
  border-radius: 25px;
  font-weight: 600;
  text-align: center;

}

/*section__vision*/
.vision{
  background: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 60px;
}

.vision__tittle_main{
  font-size: 45px;
  margin-bottom: 25px;
}

.vision__list{
  display: flex;
  flex-direction: column;
}

.vision__container_info{
  display: flex;
  flex-direction: column;
}


.vision_items_container{
  padding: 40px;
  background: white;
  display: flex;
  border-radius: 25px;
  align-items: center;
}

.vision__items{
  margin-bottom:25px;
}


.vision__tittle_items{
  margin-bottom: 25px;
}

.vision__conatiner_img{
  width: 90px;
  height: 90px;
  background: #478ac9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-right: 25px;
}

.vision__icon{
  width: 70px;
  fill: white;
}

/*why__psichology*/
.why__psichology{
  padding-top: 60px;
  padding-bottom: 60px;
}
.why__psichology_container{
  margin-bottom: 25px;
}

.why__psichology_tittle_main{
  margin-bottom: 15px;
  margin-right: auto;
  font-size: 45px;
}

.why__psichology_descr_main{
  width: 100%;
  margin-right: auto;
  line-height: 25px;
  font-size: 24px;
  margin-bottom: 10px;
}

.why__psichology_container{
  font-size: 18px;
  height: 100%;
  justify-content: right;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.why__psichology_descr_info{
  margin-right: 15px;
  font-weight: 600;
}

.why__psichology_img{
  background-image: url(../img/trening.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
  border-radius: 25px;
}

.why__psichology_descr_bot{
  line-height: 25px;
  margin-right: auto;
}

.why__psichology_icon{
  position: absolute;
  width: 200px;
  height: 50px;
  right: 10px;
}

/*swction__team*/

.team{
  padding-top: 60px;
  padding-bottom: 60px;
  background: white;
}

.team__tittle_main{
  font-size: 45px;
  margin-bottom: 25px;
}

.team__item{
  display: flex;
}

.team__tittle_item{
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  height: 43px;
  width: 50%;
  border-bottom: 3px solid #478ac9;
  color: black;
}

.team__descr_main{
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  flex: 1;
}

.team__link{
  padding: 10px;
  text-align: center;
  border: none;
  width: 148px;
  height: 40px;
  color: white;
  border: none;
  background: #478ac9;
  transition: 0.3s linear;
}

.team__link:hover{
  background: #64b2fb;
}

.team__item_container{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 355px;
  padding-bottom: 20px;
  align-items: center;
  background: #f2f2f2;
}

.team__container_img{
  margin-bottom: 20px;
  background-image: url(../img/women_team.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 225px;
  border-radius: 78px;
  height: 206px;
  margin-bottom: 20px;

}

.team__container_info{
  width: 100%;
}

.team__item:nth-child(2) .team__container_img{
  background-image: url(../img/man__team.jpg);
}

.team__item:nth-child(3) .team__container_img{
  background-image: url(../img/front__team.jpg);
}


.team_container_soc{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav__soc_team {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  width: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.3s linear;
}


/*section__promo__blog*/
.promo__blog{
  padding-top: 60px;
  padding-bottom: 60px;
}

.promo__blog_item_container_info{
  background: #f2f2f2;
  padding: 15%;
}

.promo__blog_fon{
  background-image: url(../img/promo__blog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
}

/*section__blog*/
.blog{
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f2f2f2;
  margin-bottom: 60px;
}

.blog__tittle_main{
  font-size: 45px;
  color: black;
  margin-bottom: 30px;
}

.blog__item_main{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 25px;
}

.blog__item_main:nth-child(1) .blog__item_container_img{
  background-image: url(../img/samoterzanie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(2) .blog__item_container_img{
  background-image: url(../img/neuverennost.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(3) .blog__item_container_img{
  background-image: url(../img/who.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(4) .blog__item_container_img{
  background-image: url(../img/strah.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__link{
  padding: 10px;
  text-align: center;
  border: none;
  width: 120px;
  height: 40px;
  color: white;
  border: none;
  background:  #478ac9;
  transition: 0.3s linear;
}

.blog__link:hover{
  background: #64b2fb;
}

.blog__item_container{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 200px;
  padding-bottom: 20px;
  align-items: center;
  background: white;
}


.blog__item_container_img{
  width: 225px;
  border-radius: 78px;
  height: 206px;
  margin-bottom: 20px;
}

.blog__descr_main{
  flex: 1;
  margin-bottom: 20px;
  color: black;
  line-height: 25px;
}

.blog__tittle_item{
  margin-bottom: 15px;
  height: 43px;
  width: 100%;
  border-bottom: 3px solid #478ac9;
  color: black
}

/*section promo__blog*/

.promo__blog{
  padding-bottom: 60px;
}


.promo__blog_img{
  position: relative;
  background-image: url(../img/promo__why4.jpg);
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.promo__blog_ifo{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 24%;
  height: 50%;
  background: white;
  border-radius: 45px;
  left: calc(100% / 4);
  bottom: calc(100% / 6);
}

.promo__blog_tittle{
  font-size: 45px;
  margin-bottom: 25px;
}

.promoblog_descr{
  font-size: 18px;
  line-height: 25px;
}

.promo__blog_icon{
  right: 60px;
  bottom: 20px;
  position: absolute;
  width: 10%;
  fill: black;
  height: 80px;
}

/*section__info__form*/

.info__forme{
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f2f2f2;
  border-radius: 25px;
}
 .forme{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
 }

 .input__forme_name{
  width: calc((100% - 25px) / 2);
  height: 50px;
  border-radius: 26px;
  border: none;
  padding: 40px;
 }

 .input__forme_fam{
  width: calc((100% - 25px) / 2);
  height: 50px;
  border-radius: 26px;
  border: none;
  padding: 40px;
 }

 .input__forme_email{
  height: 50px;
  width: 100%;
  border-radius: 26px;
  border: none;
  padding: 40px;
 }

 .forme__texarea{
  width: 100%;
  height: 180px;
  border-radius: 26px;
  border: none;
  padding: 40px;
 }

 .forme__btn{
  width: 200px;
  padding: 15px;
  border: none;
  color: white;
  background: #478ac9;
  transition: 0.3s linear;
 }

 .forme__btn:hover{
  background: #64b2fb;
 }

 .label__container{
  display: flex;
  align-items: center;
  gap: 20px;
 }

 .info__forme__tittle{
  font-size: 45px;
  margin-bottom: 15px;
 }

 .info__forme__descr{
  line-height: 25px;
  margin-bottom: 25px;
  font-size: 20px;
 }

 /*section__footer*/

 .footer{
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(30, 30, 30);
 }

 .footer__tittle_main{
  margin-bottom: 25px;
  font-size: 45px;
  color: white;
 }

 .footer__logo{
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
 }

.footer__descr_map{
  color: white;
  line-height: 25px;
}

.footer__conainer__list_nav{
  display: flex;
  justify-content: space-between;
}

.footer__items_nav{

}

.footer__link_nav{
  color: white;
}

.footer__list{
  display: flex;
  align-items: flex-end;
}

.footer__link_fon{
  color: white;

}



.mail__footer{
  color: white;

}

.footer__conainer__list_contacts{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.footer__container__contacts{
  margin-right: 9%;
  transition: 0.3s linear;
}



.footer__container__contacts:last-child{
  margin-right: 0;
}

.footer__container__contacts:hover{
  background-color: #64b2fb;
}
