
@media (max-width:1025px){
  .about__items_left{
    background-image: url(../Img/about_b.png);
    background-repeat: no-repeat;
    background-position: center;

  }

  .promo__right{
    background-image: url(../Img/micro256.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width:837px) {
  .promo__right{
    background-image: none;
    background-repeat: none;
    background-position: none;
  }

.promo__list{
  text-align: center;
}
  .container__header{
    flex-wrap: wrap;
  }

  .serth__button{
    order: 0;
  }

  .nav__list{
    padding-top: 20px;
  }

  .Transfers__btn{
    display: none;
  }

  .Transfers__span_right{
    display: none;
  }

  .Transfers__item_left{
    padding-bottom: 50px;
  }

  .Transfers__items_right_osnov{
    padding: auto;
  }

.new__wave_list{
  flex-wrap: wrap;
}
.new__wave_items{
  text-align: center;
  padding: 0;
}

.Guests__items_left{
  background-position: center;
}

.Guests__items_new{
  padding-bottom: 9px;
}

.Guests__items_bottom{
  padding-bottom: 30px;
}

}

@media (max-width:767px){
  .podkast__item_osn:nth-last-child(-n+2) .podkast__item {
    margin-bottom: 30px;
}

.Transfers__items_right{
background-position:  center top;
}

}

@media (max-width:642px){
  .nav__list{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

@media (max-width:452px){
 .footer__right{
  display: none;
 }

 .new__wave_btn{
  width: 279px;
 }

 .Transfers__items_right{
  background-position: center top;
 }

 .footer__conatainer_main{
  justify-content: center;
 }
 .footer__list_left{
  justify-content: center;
 }
}
