@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratBold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
       font-display: swap;
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold')
       url('../fonts/MontserratExtraBold.woff2') format('woff2'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff');
       font-display: swap;
       font-weight: 800;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular')
       url('../fonts/MontserratRegular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold')
       url('../fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
       font-display: swap;
       font-weight: 600;
       font-style: normal;
}

html {
	box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

 body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background: #fff;
 }

.container{
  max-width: 1110px;
}

.outline__line{
  outline: 1px solid pink;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h2, h1, h3, p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.flex {
  display: flex;
}

/*headere*/
.header{
  padding-top: 34px;
  padding-bottom: 34px;
}

.container__header{
  display: flex;
  justify-content: space-between;
}

.nav__item{
  margin-right: 58px;
}

.nav__link{
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(18, 23, 35);
}

.nav__item:last-child{
  margin-right: 0;
}

.promo__tittle{
  display: inline-block;
  margin-bottom: 14px;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  color: rgb(18, 23, 35);
}

.promo__span{
  display: inline-block;
  font-size: 60px;
  font-style: oblique;
}

.promo__descr{
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(18, 23, 35);
}

.serth__button{
  order: 1;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.promo__btn{
  min-width: 245px;
  min-height: 70px;
  align-items: center;
  padding: 25px 54px 25px 54px;
  border-radius: 40px;
  background: rgb(109, 49, 238);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: white;
  border-color: rgb(109, 49, 238);
}

.promo__left{
  padding-top: 94px;
  padding-bottom: 94px;
}

.promo__right{
  background-image: url(../Img/logo-promo.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*section podkast*/

.podkast{
  background-color: rgb(230, 232, 236);;
  padding-top: 94px;
  padding-bottom: 94px;
}

.podkast__tittle_top{
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(18, 23, 35);
}




.podkast__item{
  /*max-width: 540px;*/
  margin-bottom: 30px;
  /*margin-right: 30px;*/
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../Img/podkast1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-color: #fff;
  padding-left: 142px;
}



.podkast__item_osn:nth-child(2) .podkast__item{
  background-image: url(../Img/podkast2.png);
}

.podkast__item_osn:nth-child(3) .podkast__item{
  background-image: url(../Img/podkast3.png);
}

.podkast__item_osn:nth-child(4) .podkast__item{
  background-image: url(../Img/podkast4.png);
}

.podkast__item_osn:nth-child(5) .podkast__item{
  background-image: url(../Img/podkast5.png);
}

.podkast__item_osn:nth-child(6) .podkast__item{
  background-image: url(../Img/podkast6.png);
}

.podkast__item_osn:nth-child(7) .podkast__item{
  background-image: url(../Img/podkast7.png);
}

.podkast__item_osn:nth-child(8) .podkast__item{
  background-image: url(../Img/podkast8.png);
}

.podkast__item_osn:last-child .podkast__item{
  margin-bottom: 0;
}

.podkast__item_osn:nth-last-child(-n+2) .podkast__item{
  margin-bottom: 0;
}

.podkast__item_osn:nth-child(2n) .podkast__item{
  margin-right: 0;
}

/*section Transfers*/

.Transfers{
  padding-top: 94px;
  padding-bottom: 94px ;
}

.Transfers__tittle_top{
  margin-bottom: auto;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(18, 23, 35);
}

.Transfers__list_left{
  min-height: 550px;
}

.Transfers__item_left{

  display: flex;
  flex-direction: column;
  background-image: url(../Img/transfers.png);
  background-repeat: no-repeat;
  background-position: 22px 321px;
}

.Transfers__btn{
  display: block;
  margin-bottom: 12px;
  border: 3px solid rgb(18, 23, 35);
  border-radius: 77px;
  background-color: #fff;
  width: 160px;
  min-height: 40px;
  align-items: center;
  padding: 17px 43px 17px 43px;
  color: rgb(18, 23, 35);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
}

.Transfers__span_right{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(161, 166, 180);
}

.Transfers__item_right_osnov{
  padding-right: 20px;
}

.Transfers__items_right{
  /*margin-right: 33px;*/
  /*max-width: 255px;*/
  outline: 1px solid rgb(230, 232, 236);
  /*padding-right: 30px;*/
  padding-left: 24px;
  padding-top: 168px;
  margin-bottom: 30px;
  background-image: url(../Img/transfers1.png);
  background-repeat: no-repeat;
  background-position: top right;
}


.Transfers__items_right_osnov:nth-child(2) .Transfers__items_right{
  background-image: url(../Img/transfers2.png);
}

.Transfers__items_right_osnov:nth-child(3) .Transfers__items_right{
  background-image: url(../Img/transfers3.png);
}

.Transfers__items_right_osnov:nth-child(4) .Transfers__items_right{
  background-image: url(../Img/transfers4.png);
}

.Transfers__items_right_osnov:nth-child(5) .Transfers__items_right{
  background-image: url(../Img/transfers5.png);
}

.Transfers__items_right_osnov:nth-child(6) .Transfers__items_right{
  background-image: url(../Img/transfers6.png);
}

/*
.Transfers__items_right:nth-child(3n){
  margin-right: 0;
}

.Transfers__items_right:last-child{
  margin-bottom: 0;
}

.Transfers__items_right:nth-last-child(-n+2){
  margin-bottom: 0;
}
.Transfers__items_right:nth-last-child(-n+3){
  margin-bottom: 0;
}
*/
.Transfers__span_left{
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(161, 166, 180);
}

.Transfers__descr{
  margin-bottom: 20px;
}

.naor{
  position: relative;
  display: flex;
}

.naor__svg{
  position: absolute;
  top: 6px;
  left: 94px;
}

/*section Guests*/
.Guests{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: rgb(18, 23, 35);
}
.Guests__tittle_top{
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}

.Guests__span{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgb(161, 166, 180);
}

.descr__Guests_top{
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  color: rgb(161, 166, 180);
}

.Guests__items_new{
  padding-bottom: 40px;
}


.Guests__items_left{
  background-image: url(../Img/guests1.png);
  background-repeat: no-repeat;
  background-position: left;
  height: 272px;
}


.Guests__items_new:nth-child(3) .Guests__items_left{
  background-image: url(../Img/guests2.png);
}

.Guests__items_new:nth-child(5) .Guests__items_left{
  background-image: url(../Img/guests3.png);
}

.Guests__items_new:last-child{
  margin-bottom: 0;
}










.Guests__tittle_items{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}

.descr__Guests_items{
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  color: rgb(161, 166, 180);
}

.btn__Guests{
  position: static;
  width: 160px;
  height: 40px;
  padding: 11px 17px 11px 17px;
  background-color: inherit;
  color: rgb(170, 157, 250);
  border: 2px solid rgb(170, 157, 250);
  border-radius: 77px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
}

/*section playlists*/

.Playlists{
  padding-top: 94px;
  padding-bottom: 94px ;
}

.Playlists__tittle_top{
  margin-bottom: 12px;
font-size: 48px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
color: rgb(18, 23, 35);
}

.Playlists__descr_top{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgb(161, 166, 180);
}

.playlists__span{
  display: block;
  font-style: Oblique;
  margin-bottom: 6px;
}

.Playlists__list_top{
  flex-wrap: wrap;
  display: flex;
}


.Playlists__items_osnov{
  padding-bottom: 20px;
}

.Playlists__items{
  /*max-width: 160px;*/
  /*margin-right: 33px;*/
  /*margin-bottom: 30px;*/
  padding-left: 10px;
  padding-bottom: 12px;
  background-image: url(../Img/playlists1.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size:auto;
  padding-top: 176px;
  outline: 1px solid rgb(230, 232, 236);
}

.playlists__item_container{
  width: 100%;
  outline: 1px solid rgb(117, 117, 117);
}

.Playlists__items_osnov:nth-child(2) .Playlists__items{
  background-image: url(../Img/playlists2.png);
}

.Playlists__items_osnov:nth-child(3) .Playlists__items{
  background-image: url(../Img/playlists3.png);
}

.Playlists__items_osnov:nth-child(4) .Playlists__items{
  background-image: url(../Img/playlists4.png);
}

.Playlists__items_osnov:nth-child(5) .Playlists__items{
  background-image: url(../Img/playlists5.png);
}

.Playlists__items_osnov:nth-child(6) .Playlists__items{
  background-image: url(../Img/playlists6.png);
}

.Playlists__items_osnov:nth-child(7) .Playlists__items{
  background-image: url(../Img/playlists7.png);
}

.Playlists__items_osnov:nth-child(8) .Playlists__items{
  background-image: url(../Img/playlists8.png);
}

.Playlists__items_osnov:nth-child(9) .Playlists__items{
  background-image: url(../Img/playlists9.png);
}

.Playlists__items_osnov:nth-child(10) .Playlists__items{
  background-image: url(../Img/playlists10.png);
}

.Playlists__items_osnov:nth-child(11) .Playlists__items{
  background-image: url(../Img/playlists11.png);
}

.Playlists__items_osnov:nth-child(12) .Playlists__items{
  background-image: url(../Img/playlists12.png);
}

.Playlists__items:last-child{
  margin-right: 0;
  margin-bottom: 0;
}

.Playlists__items:nth-last-child(-n+2){
  margin-bottom: 0;
}

.Playlists__items:nth-last-child(-n+3){
  margin-bottom: 0;
}

.Playlists__items:nth-last-child(-n+4){
  margin-bottom: 0;
}

.Playlists__items:nth-child(4n){
  margin-right: 0;
}

.Playlists__descr_left{
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
  color: rgb(161, 166, 180);
}

.Playlists__tittle_left{
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: rgb(18, 23, 35);
}

/*section new__wave*/

.new__wave{
  background-color:  rgb(41, 46, 57);
  padding-top: 94px;
  padding-bottom: 94px;
}

.new__wave_items{
  padding-top: 57px;
}

.star{
  position: absolute;
  left: -2px;
}

.new__wave_tittle{
  margin-bottom: 19px;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(240, 210, 136);
}

.angles{
  display:flex;
  align-items:flex-start;
  list-style:none;
  padding:0 0 0 10px;
}

.angles li{
  width:29px;
  height:24px;
  border:6px solid rgb(161, 166, 180);;
  border-left:none;
  border-bottom:none;
  transform:rotate(-27deg) skewX(37deg);
  transform-origin:center;
  margin-right:14px;
}

.new__wave_descr_top{
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}

.new__wave_descr_bottom{
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}

.new__wave_span{
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}

.new__wave_btn{
  background-color: inherit;
  width: 300px;
  height: 70px;
  align-items: center;
  padding: 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(240, 210, 136);
  border: 2px solid rgb(240, 210, 136);
  border-radius: 100px;
}

.new_wave_button{
  margin-right: 11px;
}

/*section about*/

.about{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: rgb(18, 23, 35);
}

.about__tittle_top{
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}

.about__descr_top{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(161, 166, 180);
}

.about__descr_bottom{
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(161, 166, 180);
}

.about__items_left{
  background-image: url(../Img/about.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.about__list_top{
  margin-bottom: 30px;
}

.about__list_bottom{
  margin-bottom: 30px;
}



.about__items_bottom{
  padding-left: 10px;
  padding-top: 275px;
  background-image: url(../Img/about1.png);
  background-repeat: no-repeat;
  background-position: top;
}

.about__items_osnov:nth-child(2) .about__items_bottom{
  background-image: url(../Img/about2.png);
}

.about__items_osnov:nth-child(3) .about__items_bottom{
  background-image: url(../Img/about3.png);
}

.about__items_osnov:nth-child(4) .about__items_bottom{
  background-image: url(../Img/about4.png);
}

.about__tittle_bottom{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}

.about_descr_items{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(161, 166, 180);
}

.texarea__about{
  margin-bottom: 30px;
  padding-top: 20px;
  height: 150px;
  background-color: inherit;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
}

.input__about{
  margin-bottom: 30px;
  background-color: inherit;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 40px;
  /*width: 445px;*/
  height: 70px;
}

.about__btn{
  margin-bottom: 44px;
  display: block;
  width: 212px;
  height: 70px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  border-radius: 40px;
  background: rgb(109, 49, 238);
}

.about__checkbox{
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}

/*section footer*/
.footer{
  position: relative;
  padding-top: 94px;
  padding-bottom: 20px;
  background-color: rgb(41, 46, 57);
  background-image: url(../Img/footer_wave.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 233px;
}

.footer__logo{
  margin-bottom: 22px;
}

.footer__list_left{
  display: flex;
}

.footer__items_social{
  margin-right: 25px;
}

.footer__items_social:last-child{
  margin-right: 0;
}

.footer__right{
  display: flex;
}

.footer__conatainer_main{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.footer__lefting{
  margin-right: 109px;
}

.footer__middle{
  margin-right: 109px;
}

.footer__left_items{
  margin-bottom: 20px;
}

.footer__left_items:last-child{
  margin-bottom: 0;
}

.footer__middle_items{
  margin-bottom: 20px;
}

.footer__middle_items:last-child{
  margin-bottom: 0;
}

.footer__right_items{
  margin-bottom: 20px;
}

.footer__right_items:last-child{
  margin-bottom: 0;
}

.footer__items_list{
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}


.footer_pod{
  font-size: 16px;
  font-weight: 400;
  line-height: 103.34%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(161, 166, 180);
}
