
@font-face {
  font-family: 'Muller';
  src: local('MullerBold')
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff');
       font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff');
       font-display: swap;
       font-weight: 600;
       font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}

html {
	box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

 body {
  font-family: 'Muller', sans-serif;
  font-weight: 100;
 }

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}


h2, h1, h3, p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.flex {
  display: flex;
}

.section-bottom {
  margin-bottom: 70px;
}

.section-bottom:last-child {
  margin-bottom: 30px;
}

.tittle-bottom {
  margin-bottom: 20px;
  padding-left: 45px;
  color: #333;
  font-size: 40px;
  font-weight: 400;
}

.descr {
  font-style:normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: #000;
}

:root {
  --active: #A47312;
  --hover-btn: #C93;
  --focus-btn: #C93;
  --hover-link: #F0BF5F;
}
/*Section header*/

.main-tittle {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.header {
  padding-top: 30px;
}

.header-top {
  align-items: center;
  margin-bottom: 30px;
}

.header-top-logo {
  margin-right: 40px;
}

.contacts-items-link {
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
  color: #666;
  transition: color 0.3s ease-in-out;
}

.contacts-items-link:focus{
  outline: 1px solid var(--focus-btn);
  outline-offset: 3px;
  color: var(--focus-btn);
}

.contacts-items-link:hover{
  color: var(--hover-btn);
}

.contacts-items-link:active{
  color: var(--active);
  outline: none;
}

.header-top-lk-beck {
  max-width: 200px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--focus-btn);
  transition: color 0.3s ease-in-out;
}

.header-top-lk-beck:focus{
  outline: 1px solid var(--focus-btn);
  outline-offset: 3px;
}

.header-top-lk-beck:hover{
  color: var(--hover-link);
}

.header-top-lk-beck:hover .header-top-lk-img{
  fill: var(--hover-link);
  transition: fill 0.3s ease-in-out;
}

.header-top-lk-beck:active{
  color: var(--active);
  outline: none;
}

.header-top-lk-beck:active .header-top-lk-img{
  fill: var(--active);
}


.header-top-lk-img {
  fill: #CC9933;
  margin-right: 5px;
}

.header-bottom {
  align-items: center;
  padding: 14px 45px;
  background: #FFF;
  border-radius: 15px;
}

.header-bottom-nav {
  margin-right: auto;
}

.header-bottom-nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  transition: color 0.3s ease-in-out;
}

.header-bottom-nav-link:focus{
  outline: 1px solid var(--focus-btn);
  color: var(--focus-btn);
  outline-offset: 3px;
}

.header-bottom-nav-link:hover {
  color: var(--hover-btn);
}

.header-bottom-nav-link:active {
  color: var(--active);
  outline: none;
}

.header-bottom-items {
  margin-right: 45px;
}


.header-bottom-items:last-child {
  margin-right: 0;
}


.header-button {
  position: relative;
  padding: 13px 20px;
  margin-right: 40px;
  min-width: 107px;
  min-height: 42px;
  border-radius: 10px;
  border: 1px solid var(--focus-btn);
  background: #FFF;
  font-weight: 400;
  color: var(--focus-btn);
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;
}

.header-button:focus{
  background-color: var(--focus-btn);
  color: #fff;
}

.header-button:hover{
  background-color: var(--hover-btn);
  color: #fff;
}


.header-button:active{
  background-color: var(--active);
}

.header-button-coll{
  padding: 13px 20px;
  max-width: 179px;
  min-height: 42px;
  border-radius: 10px;
  border: 1px solid var(--focus-btn);
  background: #FFF;
  font-weight: 400;
  color: var(--focus-btn);
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;

}

.header-button-coll:focus{
  background-color: var(--focus-btn);
  color: #fff;
}

.header-button-coll:hover{
  background-color: var(--hover-btn);
  color: #fff;
}

.header-button-coll:active{
  background-color: var(--active);
  color: #fff;
}

/*Section Special*/

.special-section-tittle {
 margin-bottom: 20px;
}

.special__block {
  margin-right: 24px;
}

.special__item {
  margin-bottom: 24px;
  width: 573px;
  min-height: calc(50% - 12px);
  padding: 40px 108px 40px 45px;
}

.special__item:nth-child(1) {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/special-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.special__item:nth-child(2) {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/special-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.special__item-item-right {
  width: 573px;
  min-height: 540px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 45px;
  background-image: url(../img/special-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.special-item-right-tittle {
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: 700;
  color: #FFF;
}

.special-item-descr-right {
  margin-bottom: 47px;
  font-size: 30px;
  font-weight: 400;
  color: #FFF;
}

.special-item-tittle {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
  color: #FFF;
}

.special-item-descr {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
}

.special-offers-items-link-lux{
  position: relative;
  max-width: 100px;
  font-size: 16px;
  font-weight: 400;
  color: var(--hover-link);
  transition: color 0.3s ease-in-out;
}

.special-offers-items-link-lux::after{
  content: "";
  position: absolute;
  bottom: -40px;
  top: -482px;
  right: -430px;
  left: -45px;

}

.special-offers-items-link-lux:focus{
  color: var(--hover-link);
}

.special-offers-items-link-lux:hover{
  color: var(--hover-link);
}

.special-offers-items-link-lux:hover .more-icon{
  stroke: var(--hover-link);
  transform: translate(11px, 0);
}

.special-offers-items-link-lux:active{
  color: #FFF;
}

.special-offers-items-link-lux:active .more-icon{
  stroke: #fff;
}






.more-icon {
  margin-left: 5px;
  stroke: var(--hover-link);
  transition: stroke 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
 }

.special-offers-items-link {
  max-width: 100px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: var(--hover-link);
  transition: color 0.3s ease-in-out;
}

.special-offers-items-link::after{
  content: "";
  position: absolute;
  bottom: -48px;
  right: -434px;
  left: -53px;
  top: -208px;
  border: 1px solid var(--hover-btn);
  opacity: 0;
}

.special-offers-items-link:focus{
  color: var(--hover-link);
}

.special-offers-items-link:focus::after{
  opacity: 1;
}

.special-offers-items-link:hover{
  color: var(--hover-link);
}

.special-offers-items-link:hover .more-icon{
  stroke: var(--hover-link);
  transform: translate(11px, 0);
}

.special-offers-items-link:active{
  color: #FFF;
}

.special-offers-items-link:active::after{
  opacity: 0;
}

.special-offers-items-link:active .more-icon{
  stroke: #fff;
}




.special__item:last-child {
  margin-bottom: 0;
}

/*Section About*/

.about-tittle {
  padding-left: 45px;
  font-weight: 400;
}

.descr-about {
  max-width: 888px;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: #000;
}

/*Section Services*/

.section-services-items {
  display: flex;
  flex-wrap: wrap;
}

.section-services-item {
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 191px 126px 25px 45px;
  margin-bottom: 24px;
  margin-right: 24px;
  width: 573px;
  background: #FFF;
  border-radius: 15px;
}

.section-services-item:nth-child(1) {
  background-image: url(../img/servoces-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.section-services-item:nth-child(2) {
  background-image: url(../img/servoces-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.section-services-item:nth-child(3) {
  background-image: url(../img/servoces-3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.section-services-item:nth-child(4) {
  background-image: url(../img/servoces-4.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}


.section-services-link {
  position: relative;
  width: 380px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 200%;
  color: var(--focus-btn);
  transition: color 0.3s ease-in-out;
}

.section-services-link::after{
  content: "";
  position: absolute;
  bottom: -100px;
  right: -155px;
  left: -54px;
  top: -199px;
  border: 1px solid var(--hover-btn);
  opacity: 0;
}

.section-services-link:focus{
  color: var(--focus-btn);
}

.section-services-link:focus::after{
  opacity: 1;
}

.section-services-link:hover{
  color: var(--hover-link);
}

.section-services-link:hover .more-icon-services{
  stroke: var(--hover-link);
  transform: translate(11px, 0px);
}

.section-services-link:active{
  color: var(--active);
}

.section-services-link:active::after{
  opacity: 0;
}

.more-icon-services{
  margin-left: 5px;
  stroke: var(--focus-btn);
  transition: stroke 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.section-services-link:active .more-icon-services{
  stroke: var(--active);
}

.section-services-tittle-descr {
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: var(--focus-btn);
}

.section-services-item:nth-child(2n) {
  margin-right: 0;
}

.section-services-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

/*Section advatages*/

.section-advantages-items {
  flex-wrap: wrap;
}

.section-advantages-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 116px 42px 32px 45px;
  margin-right: 22px;
  margin-bottom: 22px;
  width: 276px;
  background: #FFF;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size:auto;
  background-position: 45px 40px;
}

.invivsible{
  visibility: hidden;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}

.section-advantages-item:nth-child(1) {
  background-image: url(../img/advantages-1.jpg);
}

.section-advantages-item:nth-child(2) {
  background-image: url(../img/advantages-2.jpg);
}

.section-advantages-item:nth-child(3) {
  background-image: url(../img/advantages-3.jpg);
}

.section-advantages-item:nth-child(4) {
  background-image: url(../img/advantages-4.jpg);
}

.section-advantages-item:nth-child(5) {
  background-image: url(../img/advantages-5.jpg);
}

.section-advantages-item:nth-child(6) {
  background-image: url(../img/advantages-6.jpg);
}

.section-advantages-item:nth-child(7)  {
  background-image: url(../img/advantages-7.jpg);
}

.section-advantages-item:nth-child(8) {
  background-image: url(../img/advantages-8.jpg);
}

.section-advantages-item:nth-child(4n) {
  margin-right: 0;
}

.section-advantages-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.section-advantages-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.section-advantages-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.section-advantages-item:last-child {
  margin-bottom: 0;
}

/*Section placement*/

.section-placement-item {
  flex-wrap: wrap;
}

.section-placement-items {
  flex-direction: column;
  align-items: flex-start;
  padding: 249px 45px 45px 45px;
  width: 374px;
  min-height: 440px;
  background: #FFF;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.section-placement-items:nth-child(1) {
  background-image: url(../img/placement-1.jpg);
}

.section-placement-items:nth-child(2) {
  background-image: url(../img/placement-2.jpg);
}

.section-placement-items:nth-child(3) {
  background-image: url(../img/placement-3.jpg);
}

.section-placement-items:nth-child(4) {
  background-image: url(../img/placement-4.jpg);
}

.section-placement-items:nth-child(5) {
  background-image: url(../img/placement-5.jpg);
}

.section-placement-items:nth-child(6) {
  background-image: url(../img/placement-6.jpg);
}

.section-placement-items:nth-child(7) {
  background-image: url(../img/placement-7.jpg);
}

.section-placement-items:nth-child(8) {
  background-image: url(../img/placement-8.jpg);
}

.section-placement-variants-items {
  align-items: flex-end;
  padding: 27px 50px;
  width: 374px;
  min-height: 440px;
  background:#F1F1F1;
  background-image: url(../img/placement-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.section-placement-items-marg{
  margin-right: 24px;
  margin-bottom: 24px;
}

.section-placement-items-marg:nth-child(3n) {
 margin-right: 0;
}

.section-placement-items-marg:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.section-placement-items-marg:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.section-placement-items-marg:last-child {
  margin-bottom: 0;
}

.top-section-placement {
  align-items: center;
  margin-bottom: 16px;
}

.top-section-placement-left {
  align-items: center;
  margin-right: 52px;
}

.section-placement-span {
  margin-right: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #999;
}

.section-placement-price {
  margin-right: 4px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}


.placement-descr-special {
  margin-bottom: 16px;
  line-height: 1;
}

.section-placement-descr-single {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #999;
}

.more-icon-more{
  stroke: #fff;
  transition: stroke 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.section-services-link-variants {
  position: relative;
  width: 264px;
  font-size: 20px;
  font-weight: 600;
  line-height: 200%; /* 40px */
  color: #FFF;
  transition: color 0.3s ease-in-out;
}

.section-services-link-variants::after{
  content: "";
  position: absolute;
  bottom: -25px;
  left: -45px;
  right: -52px;
  top: -380px;
}

.section-services-link-variants:focus{
  color: var(--focus-btn);
}

.section-services-link-variants:focus .more-icon-more{
  stroke: var(--focus-btn);
}

.section-services-link-variants:hover{
  color: var(--hover-link);
}

.section-services-link-variants:hover .more-icon-more{
  stroke: var(--hover-link);
  transform: translate(11px, 0);
}

.section-services-link-variants:active{
  color: var(--hover-btn);
}

.section-services-link-variants:active .more-icon-more{
  stroke: var(--hover-btn);
}

.section-placement-button {
  padding: 13px 20px;
  min-width: 100px;
  min-height: 42px;
  background: #FFF;
  border: 1px solid var(--focus-btn);
  border-radius: 15px;
  color: var(--focus-btn);
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;

}

.section-placement-button:focus{
  background-color: var(--focus-btn);
  color: #fff;
}

.section-placement-button:hover {
  background-color: var(--focus-btn);
  color: #FFF;
}

.section-placement-button:active{
  background-color: var(--active);
}

/*Section want a tour*/

.section-want-a-tour-tittle{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
  color: #000;
}

.form-container{
  align-items: center;
  padding: 31px 28px;
  border-radius: 15px;
  background: #FFF;
}

.want-a-tour-container{
  padding: 45px;
  background: #E9E9E9;
  border-radius: 15px;
}

.form-container-list{
  width: 870px;
  margin-right: 51px;
}

.form-container-items{
  flex-direction: column;
  margin-right: 41px;
  width: 159px;
}

.form-container-items:last-child{
  margin-right: 0px;
}

.section-form-span{
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

.form-button{
  width: 108px;
  padding: 13px 30px;
  background: #FFF;
  border-radius: 10px;
  border: 1px solid var(--focus-btn);
  font-size: 16px;
  font-weight: 400;
  color: var(--focus-btn);
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;
}

.form-button:focus{
  background-color: var(--focus-btn);
  color: #FFF;
}

.form-button:hover{
  background-color: var(--focus-btn);
  color: #FFF;
}

.form-button:active{
  background-color: var(--active);
  border-color: var(--active);
}

.select{
  border: none;
}

.select-bottom{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #E9E9E9;
  opacity: 1;
  appearance: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
opacity: 1;
}

/*Section contacts*/

.section-contacts-tittle{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
  color: #333;
}

.section-contacts-container{
  padding: 45px;
  border-radius: 15px;
  background: #FFF;
}

.section-contacts-container-left{
  width: 375px;
  margin-right: 52px;
}

.section-contacts-items-descr{
  width: 99px;
  margin-right: 47px;
}

.section-contacts-items{
  width: 229px;
}

.section-contacts-item{
  padding-bottom: 23px;
  margin-bottom: 25px;
  border-bottom: 1px solid #E9E9E9;
}

.descr-contacts{
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.descr-contacts-adress{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #000;
}

.descr-contacts-email{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #999;
}

.contacts-button{
  min-width: 213px;
  padding: 30px;
  background-color: #FFF;
  border-radius: 10px;
  border: 1px solid var(--focus-btn);
  font-size: 16px;
  font-weight: 400;
  color: var(--focus-btn);
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out,
              border-color 0.3s ease-in-out;
}

.contacts-button:focus{
  background-color: var(--focus-btn);
  color: #FFF;
}

.contacts-button:hover{
  background-color: var(--hover-btn);
  color: #FFF;
}

.contacts-button:active{
  background-color: var(--active);
  border-color: var(--active);
}

.contacts-link-fone{
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  transition: color 0.3s ease-in-out;
}

.contacts-link-fone:focus{
  color: var(--focus-btn);
  outline: 1px solid var(--focus-btn);
  outline-offset: 3px;
}

.contacts-link-fone:hover{
  color: var(--focus-btn);
}

.contacts-link-fone:active{
  color: var(--active);
  outline: none;
}

.descr-contacts-fone{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: var(--hover-btn);
  transition: color 0.3s ease-in-out;
}

.descr-contacts-fone:focus{
  color: var(--focus-btn);
  outline: 1px solid var(--focus-btn);
  outline-offset: 3px;
}

.descr-contacts-fone:hover{
  color: var(--hover-link);
}

.descr-contacts-fone:active{
  color: var(--active);
  outline: none;
}

/*Section footer*/

.section-footer-container-footer{
  padding: 45px;
  border-radius: 15px;
  background: #333;
  background-image: url(../img/footer-4.png);
  background-repeat: no-repeat;
  background-position: right 177px bottom 0px;
}

.section-footer-item{
  min-width: 302px;
  margin-right: 125px;
}

.section-footer-item-one-email{
  min-width: 359px;
  margin-right: 259px;
}

.section-footer-items{
  flex-direction: column;
}

.section-footer-items-link{
  margin-bottom: 20px;
}

.section-footer-items-link:last-child{
  margin-bottom: 0px;
}

.descr-footer{
  margin-bottom: 37px;
  font-size: 16px;
  font-weight: 400;
  line-height: 190%;
  color: #FFF;
}

.descr-footer:last-child{
  margin-bottom: 40px;
}

.footer-link{
  max-width: 237px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: var(--focus-btn);
  transition: color 0.3s ease-in-out;
}

.footer-link:focus{
  color: var(--focus-btn);
  outline: 1px solid var(--focus-btn);
  outline-offset: 3px;
}

.footer-link:hover{
  color: var(--focus-btn);
}

.footer-link:active{
  color: #fff;
  outline: none;
}


.descr-footer-street{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 190%;
  color: #FFF;
}

.footer-fone-email{
  max-width: 145px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: var(--focus-btn);
  transition: color 0.3s ease-in-out;
}

.footer-fone-email:focus{
  color: var(--focus-btn);
  outline: 1px solid var(--focus-btn);
  outline-offset: 1px;
}

.footer-fone-email:hover{
  color: var(--hover-link);

}

.footer-fone-email:active{
  color: var(--active);
  outline: none;
}

.footer-fone-email-bottom{
  max-width: 145px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: var(--focus-btn);
  transition: color 0.3s ease-in-out;
}

.footer-fone-email-bottom:focus{
  color: var(--focus-btn);
  outline: 1px solid var(--focus-btn);
  outline-offset: 1px;
}

.footer-fone-email-bottom:hover{
  color: var(--hover-link);
}

.footer-fone-email-bottom:active{
  color: var(--active);
  outline: none;
}

.footer-fone-email-container{
  flex-direction: column;
}

.footer-link-fone-email{
  max-width: 135px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: var(--focus-btn);
  transition: color 0.3s ease-in-out;
}

.footer-link-fone-email:focus{
  color: var(--focus-btn);
  outline: 1px solid var(--focus-btn);
  outline-offset: 1px;
}

.footer-link-fone-email:hover{
  color: var(--hover-link);
}

.footer-link-fone-email:active{
  color: var(--active);
  outline: none;
}

.section-footer-logo{
  width: 254px;
  height: 228px;
  position:absolute;
  background-image: url(../img/footer-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 739px;
  top: 112px;
}

.footer-logo-img{
  fill: #999;
  transition: fill 0.3s ease-in-out;
}

.footer-logo{
  width: 25px;
  height: 25px;
}

.footer-logo:focus .footer-logo-img{
  fill: var(--focus-btn);
}

.footer-logo:hover .footer-logo-img{
  fill: var(--focus-btn);
}
.footer-logo:active .footer-logo-img{
  fill: var(--active);
}

.footer-logo:last-child{
  margin-bottom: 0;
}




