@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratBold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
       font-display: swap;
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold')
       url('../fonts/MontserratExtraBold.woff2') format('woff2'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff');
       font-display: swap;
       font-weight: 800;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular')
       url('../fonts/MontserratRegular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold')
       url('../fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
       font-display: swap;
       font-weight: 600;
       font-style: normal;
}

html {
	box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

 body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: rgba(230, 230, 230, 0.5);
 }

.container{
  max-width: 1375px;
}

.outline__line{
  outline: 1px solid pink;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h2, h1, h3, p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.flex {
  display: flex;
}

/*headere*/

.header{
  margin-bottom: 60px;
  background: rgba(200, 200, 200, 0.5);
  border-radius: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url(../Img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.header__link_nav{
  padding: 5px;
  font-weight: 600;
  border-radius: 25px;
  transition: 0.3s linear;
}

.header__link_nav:hover{
  background: rgba(252,229,1, 0.9);
}

.header__container{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background: rgba(200, 200, 200, 0.5);

  border-radius: 35px;
}

.header__link_fone{
  padding: 5px;
  font-weight: 600;
  transition: 0.3s linear;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
}

.header__link_fone:hover{
  background:  rgba(252,229,1, 0.9);
}

.header__logo{
  font-weight: 600;
}

.header__link_lk{
  padding: 5px;
  margin-right: auto;
  transition: 0.3s linear;
  border-radius: 25px;
  background:rgba(255, 255, 255, 0.9) ;
}

.header__link_lk:hover{
  background:  rgba(252,229,1, 0.9);
}

.header__list{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__items{
  margin-right: 45px;
}

.header__items:last-child{
  margin-right: 0px;
}

/*section__promo*/

.promo{
  height: 90vh;

  padding-top: 0px;
  padding-bottom: 60px;

}

.promo__tittle_main{
  margin-bottom: 10px;
  color: rgb(255 255 255);
}

.promo__descr_slogan{
  margin-bottom: 15px;
}
.promo__container_items_top{
  background: rgba(200, 200, 200, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.promo__descr_about{
  margin-bottom: 10px;
}

.promo__descr_info{
  margin-bottom: 10px;
}



.promo__img{
  background-image: url(../Img/oleg.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 239px;
  height: 240px;
  border-radius: 160px;
  margin: auto;
  margin-bottom: 25px;
}

.promo__items_container{
  padding: 15px;
  background: rgba(230, 230, 230, 0.5);
  border-radius: 25px;
  transition: 0.3s linear;
}



.promo__items_container:hover{
  background-color: rgba(255, 255, 255, 0.9);
}

.promo__items_img{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.promo__container_left_bot{
  flex-direction: column;
  padding-top: 40px;
}

.promo__items_work{
  margin-bottom: 50px;
}

.promo__items_work:last-child{
  margin-bottom: 0px;
}

.promo__items_work:nth-child(2) .promo__items_container{
  background-color: rgba(255, 255, 255, 0.9);
}


.promo__btn{
  width: 250px;
  height: 70px;
  border-radius: 35px;
  border: none;
  font-weight: 600;
  transition: 0.3s linear;
  background: rgba(255, 255, 255, 0.9);
}

.promo__btn:hover{
  background: rgba(252,229,1, 0.9);
}


/*section__services*/
.services{
  padding-top: 60px;
  background: rgb(30 30 30);
  border-radius: 35px;
  padding-bottom: 80px;
  margin-bottom: 60px;
}

.services__tittle_main{
  color: rgb(255 255 255);
  margin-bottom: 30px;
}

.services__items_main{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex: 1;
}

.services__items_main:nth-child(1)  .services__items_img{
  background-image: url(../Img/consult.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__items_main:nth-child(2)  .services__items_img{
  background-image: url(../Img/terrapia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__items_main:nth-child(3)  .services__items_img{
  background-image: url(../Img/group__terr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__items_main:nth-child(4)  .services__items_img{
  background-image: url(../Img/trening.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__items_container{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 200px;
  padding-bottom: 10px;
  align-items: center;
  background: rgb(230 230 230 / 58%);
  transition: 0.3s linear;
}

.services__items_container:hover{
  background: white;
}

.services__items_container:hover  .services__btn{
  background: rgba(252,229,1, 0.9);
}

.services__items_container:hover  .services__tittle_items{
color: black;
}

.services__descr{
  flex: 1;
  margin-bottom: 10px;
}

.services__tittle_items{
  margin-bottom: 15px;
  height: 43px;
  width: 100%;
  border-bottom: 1px solid black;
  color: rgb(255 255 255);
}

.services__btn{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3s linear;
}





.services__items_img{
  width: 225px;

  border-radius: 78px;
  height: 206px;

  margin-bottom: 20px;
}

/*section about*/

.about{
  background: rgb(30 30 30);
  border-radius: 35px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.about__tittle_main{
  margin-bottom: 30px;
}

.about__item_info{

}

.about__item_img{


}

.about__item_info_container{
  padding: 25px;
  background: rgb(230 230 230 /  58%);
  border-radius: 25px;
  transition: 0.3s linear;
}

.about__item_info_container:hover{
  background: white;
}

.about__item_info_container:hover .about__tittle{
  color: black;
}

.about__item_container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px;
  background: rgb(230 230 230 /  58%);
  border-radius: 25px;
  transition: 0.3s linear;
}

.about__item_container:hover{
  background: white;
}

.about__item_container:hover .nav__soc_about{
  background: rgba(252,229,1, 0.9);
}

.about__item_container:hover .about__tittle_lk{
  color: black;
}

.about__tittle{
  margin-bottom: 25px;
  color: white;
}

.about__descr_img{
  margin-bottom: 10px;
}

.about__item_img_lk{
  background-image: url(../Img/oleg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 239px;
  height: 240px;
  border-radius: 160px;
  margin: auto;
}

.about__item_foto{
  background-image: url(../Img/oleg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 239px;
  height: 240px;
  border-radius: 160px;
  margin: auto;
}
.about__list_foto{
  display: flex;
  margin-bottom: 20px;
}

.nav__soc_about{
  display: flex;
  justify-content: center;
  margin-left: auto;
  background: white;
  width: 190px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 26px;
  transition: 0.3s linear;
}

.nav__soc_about:hover{
  background: rgba(252,229,1, 0.9);
}

/*section__women*/
.women{
  background: rgb(30, 30, 30);
  border-radius: 35px;
  padding-top: 60px;
  margin-bottom: 60px;
}

.women__tittle_main{
  margin-bottom: 25px;
  color: white;
}

.women__img_container{
  background-image: url(../Img/arrangement-beautiful-bloomed-flowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 546px;
  height: 546px;
  border-radius: 275px;
}



.women__item_container{
  min-height: 420px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 25px;
  background: rgba(230 230 230 / 58%);
  transition: 0.4s linear;
}

.women__item_container:hover{
  background: white;
}

.women__item_container:hover .women__tittle_item{
  color: black;
}

.women__item_container:hover .women__span{
  background: rgba(252,229,1, 0.9);
}

.women__item_container:hover .women__descr_time{
  color: black;
}

.women__list_problems{
  list-style: disc;
}

.women__descr{
  margin-bottom: auto;
}

.women__item_img{
  display: flex;
  align-items: center;
}

.women__descr_time{
  font-weight: 600;
  margin-right: auto;
  color: white;
}

.women__item_problems{
  margin-bottom: 12px;
}

.women__item_sp{
  display: flex;
  align-items: stretch;
  margin-bottom: 25px;
}

.women__item_sp:nth-child(4) .women__span{
  margin-bottom: 5px;
}

.women__item_sp:nth-child(1) .women__list_problems{
  margin-bottom: auto;
}

.women__tittle_item{
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  color: white;
  border-bottom: 1px solid black;
}

.women__span{
  display: block;
  width: 100%;
  background: white;
  padding: 11px;
  border-radius: 25px;
  font-weight: 600;
  text-align: center;

}



/*section__blog*/
.blog{
  border-radius: 35px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../Img/blog-samorazrushenie.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

.blog__tittle_main{
  color: white;
  margin-bottom: 30px;
}

.blog__item_main{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.blog__item_main:nth-child(1) .blog__item_container_img{
  background-image: url(../Img/samoterzanie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(2) .blog__item_container_img{
  background-image: url(../Img/neuverennost.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(3) .blog__item_container_img{
  background-image: url(../Img/who.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__item_main:nth-child(4) .blog__item_container_img{
  background-image: url(../Img/strah.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog__link{
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3s linear;
}

.blog__item_container{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 200px;
  padding-bottom: 20px;
  align-items: center;
  background: rgb(30 30 30 / 91%);
  transition: 0.3s linear;
}


.blog__item_container:hover{
  background:white;
}

.blog__item_container:hover .blog__descr_main{
color: black;
}

.blog__item_container:hover .blog__link{
  background: rgba(252,229,1, 0.9);
}

.blog__item_container_img{
  width: 225px;
  border-radius: 78px;
  height: 206px;
  margin-bottom: 20px;
}

.blog__descr_main{
  flex: 1;
  margin-bottom: 20px;
  color: white;
}

.blog__tittle_item{
  margin-bottom: 15px;
  height: 43px;
  width: 100%;
  border-bottom: 1px solid black;
  color: rgb(255 255 255);
}

/*section__contacts*/

.contacts{
  border-radius: 35px;
  background: rgba(100, 100, 100);
  padding-bottom: 40px;
  padding-top: 60px;
}

.container__contacts{
  background: rgb(30 30 30 / 91%);
  padding: 25px;
  border-radius: 25px;
}

.contacts__tittle_main{
  color: white;
  margin-bottom: 20px;
}

.contacts__item_main{
  margin-bottom: 25px;
  display: flex;
}

.contacts__maps{
  margin: auto;
  width: 100%;
  height: 400px;
  border-radius: 24px;
  border: none;
}

.contacts__item_container{
  display: flex;
}

.contacts__list_nav{
  display: flex;
  justify-content: space-between;
}

.contacts__list_nav_list{
  margin-right: 50px;
}

.container_contacts_tittle{
  margin-bottom: 10px;
}

.contacts__item_question{
  display: flex;
  justify-content: space-around;
}

.container_contacts_descr{
  color: white;
}

.container_contacts{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.contacts__list_nav_soc{
  display: flex;
  justify-content: center;
    margin-left: auto;
    background: white;
    width: 190px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 26px;
    transition: 0.3s linear;
}

.contacts__item_nav_soc_item{
  margin-right: 10px;
}

.contacts__item_nav_soc_item:last-child{
  margin-right: 0;
}

/*section__footer*/
.footer{
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer__item{
  margin: auto;
}

.footer__descr{
  margin: auto;
  text-align: center;
}

