@media (max-width:1199px){
  .courses__container{
    height: 473px;
    padding-top: 171px;
  }
}


@media (max-width:991px){

  .container{
    max-width: 920px;
  }


  .header{
    padding-left: 25px;
    padding-right: 25px;
  }

  .promo__tittle{
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 700;
    line-height: 100%; /* 50px */
    color: #FFF;
  }

  .promo__img{
    left: 0;
    top: 115px;
  }

  .promo__right{
    position: relative;
    min-height: 614px;
    background-image: url(../img/main-img-768.png);
    background-size: 311px 342px;
    background-repeat: no-repeat;
    background-position: 18px 124px;
  }

  .advantages__article{
    padding-left: 240px;
    padding-top: 80px;
    padding-bottom: 19px;
    background-image: url(../img/advantages-articles-768.png);
    background-repeat: no-repeat;
    background-size: 211px 187px;
    background-position: 1px 102px;

  }

  .advantages__descr_bottom{
    max-width: 210px;
    padding-left: 0;
    padding-top: 0px;
  }

  .advantages__item{
    padding-top: 94px;
    padding-bottom: 15px;
    background-image: url(../img/advantages-1.png);
    background-repeat: no-repeat;
    background-position: 16px 3px;
  }

  .advantages__item:nth-child(2){
    background-image: url(../img/advantages-2.png);
    background-repeat: no-repeat;
    background-position: 16px 3px;;
  }

  .advantages__item:nth-child(3){
    background-image: url(../img/advantages-3.png);
    background-repeat: no-repeat;
    background-position: 16px 3px;;
  }

  .advantages{
    padding-bottom: 61px;
  }

  .teacher__item {
    padding-bottom: 24px;
 }


.teacher{
  padding-bottom: 26px;
}

.teacher__tittle-btn{
  padding-top: 6px;
  margin-bottom: 5px;
}

.courses__item{
  padding-top: 0px;
  padding-bottom: 29px;
}

.courses__time{
  right: 25px;
}

.courses__tittle-bottom{
  margin-bottom: 7px;
}

.courses__container{
  height: auto;
  padding-bottom:28px;
  padding-top: 248px;
}


.courses__item:nth-child(1) .courses__container{
  background-image: url(../img/courses-1-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(2) .courses__container{
  background-image: url(../img/courses-2-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(3) .courses__container{
  background-image: url(../img/courses-3-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(4) .courses__container{
  background-image: url(../img/courses-4-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.courses__item:last-child{
  padding-bottom: 0;
}

.courses__item:nth-last-child(-n+2){
  padding-bottom: 0;
}

.courses__descr{
  min-height: 192px;
  margin-bottom: 27px;
}

.courses__btn{
  max-width: 196px;
  padding-left: 52px;
  padding-right: 55px;
  border-color: #3F2AFF;
}

.courses{
  padding-bottom: 82px;
}

.footer__top{
  padding-bottom: 24px;
}

.footer__bottom{
  padding-top: 3px;
}

}

@media (max-width:769px){
  .container{
    max-width: 720px;
  }

  .courses__container{
    padding-top: 212px;
  }
}


@media (max-width:767px){
  .header__wrap{
    display: flex;
    flex-wrap: wrap;
  }
  .header__logo{
    margin: auto;
    margin-bottom: 30px;
  }

  .header__nav{
    padding-left: 14px;
  }

  .promo{
    padding-bottom: 6px;
  }
  .promo__right{
    display: none;
  }

  .promo__left{
    padding-top: 77px;
    padding-bottom: 128px;
  }

  .promo__descr{
    max-width: 345px;
    margin-bottom: 61px;
  }

  .advantages__article{
    padding-bottom: 78px;
    padding-top: 78px;
  }

  .advantages__article{
    padding-top: 80px;
    padding-bottom: 19px;
    padding-left: 180px;
    background-image: url(../img/advantages-articles-576.png);
    background-repeat: no-repeat;
    background-size: 150px 134px;
    background-position: 1px 78px;
  }

  .advantages__item{
    padding-top: 93px;
  }

  .advantages{
    padding-bottom: 42px;
  }
/*
  .teacher__item {
    background-image: url(../img/teachers-1-576.png);
    background-repeat: no-repeat;
    background-size: 240px 180px;
    background-position: center top;
    padding-top: 211px;
    padding-bottom: 23px;
}

.teacher__item:nth-child(2){
  background-image: url(../img/teachers-2-576.png);
  background-repeat: no-repeat;
  background-size: 240px 180px;
  background-position: center top;
}

.teacher__item:nth-child(3){
  background-image: url(../img/teachers-3-576.png);
  background-repeat: no-repeat;
  background-size: 240px 180px;
  background-position: center top;
}

.teacher__item:nth-child(4){
  background-image: url(../img/teachers-4-576.png);
  background-repeat: no-repeat;
  background-size: 240px 180px;
  background-position: center top;
}
*/
.teacher{
  padding-bottom: 50px;
}


.courses__time{
  position: absolute;
  right: 11px;
  top: 11px;
}

.courses__item {
  padding-top: 0px;
  padding-bottom: 29px;
}


.courses__container{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 654px;
  padding-right: 23px;
  padding-top: 210px;
  padding-left: 29px;
  padding-bottom: 30px;
  background-color: #EDF0F9;
  border-radius: 20px 20px 20px 20px;
}

.courses__item:nth-child(1) .courses__container{
  background-image: url(../img/courses-1-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(2) .courses__container{
  background-image: url(../img/courses-2-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(3) .courses__container{
  background-image: url(../img/courses-3-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(4) .courses__container{
  background-image: url(../img/courses-4-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

  /*background-image: url(../img/courses-1-576.png);
  background-repeat: no-repeat;
  background-size: 240px 180px;
  background-position: center top;
}

.courses__item:nth-child(2){
  background-image: url(../img/courses-2-576.png);
  background-repeat: no-repeat;
  background-size: 240px 180px;
  background-position: center top;
}

.courses__item:nth-child(3){
  background-image: url(../img/courses-3-576.png);
  background-repeat: no-repeat;
  background-size: 240px 180px;
  background-position: center top;
}

.courses__item:nth-child(4){
  background-image: url(../img/courses-4-576.png);
  background-repeat: no-repeat;
  background-size: 240px 180px;
  background-position: center top;
}
*/


.courses__descr{
  margin-bottom: auto;
}

.courses{
  padding-bottom: 79px;
}

.courses__btn{
  width: 180px;
  padding: 20.5px 48px;
  border: none;
}

.courses__tittle-bottom{
  margin-bottom: 8px;
  line-height: 24px;
}

}

@media (max-width:600px) {

  .container{
    max-width: 540px;
  }

  .courses__item:nth-child(1) .courses__container{
  background-image: url(../img/courses-1-576.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(2) .courses__container{
  background-image: url(../img/courses-2-576.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(3) .courses__container{
  background-image: url(../img/courses-3-576.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(4) .courses__container{
  background-image: url(../img/courses-4-576.png);
  background-repeat: no-repeat;
  background-size: contain;
}
}


@media(max-width:575px){
  .header__nav{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 17px;
  }

  .header__logo{
    margin-bottom: 10px;
  }

  .advantages__article{
    background-position: 1px 133px;
  }

  .advantages__descr_bottom{
    max-width: 100%;
    text-align: center;
  }

.advantages__item{
  background-position: center top;
}

.advantages__item:nth-child(2){
  background-position: center top;
}
.advantages__item:nth-child(3){
  background-position: center top;
}


 /* background-image: url(../img/courses-mob1.png);
  background-repeat: no-repeat;
  background-size: 290px 180px;
  background-position: center top;
}

.courses__item:nth-child(2){
  background-image: url(../img/courses-mob2.png);
  background-repeat: no-repeat;
  background-size: 290px 180px;
  background-position: center top;
}

.courses__item:nth-child(3){
  background-image: url(../img/courses-mob3.png);
  background-repeat: no-repeat;
  background-size: 290px 180px;
  background-position: center top;
  padding-bottom: 31px;
}

.courses__item:nth-child(4){
  background-image: url(../img/courses-mob4.png);
  background-repeat: no-repeat;
  background-size: 290px 180px;
  background-position: center top;
}
*/

/*
.courses__container{
  max-width: 290px;
}
*/

.courses__item{
  padding-top: 0px;
  padding-bottom: 30px;
}

.courses__item:nth-child(3){
  padding-bottom: 30px;
}



.courses__container{
  padding-top: 311px;
  border-radius: 28px 28px 20px 20px;;
}



.courses__item:nth-child(1) .courses__container{
  background-image: url(../img/courses-1-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(2) .courses__container{
  background-image: url(../img/courses-2-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(3) .courses__container{
  background-image: url(../img/courses-3-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(4) .courses__container{
  background-image: url(../img/courses-4-768.png);
  background-repeat: no-repeat;
  background-size: contain;
}

}

@media (max-width:485px){

  .header{
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__nav{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 17px;
  }

  .header__logo{
    margin-bottom: 10px;
  }

  .header__nav{
    padding-left: 0;
  }

  .promo__tittle{
    font-size: 30px;
    margin-bottom: 3px;
  }

  .promo__descr{
    margin-bottom: 41px;
    font-size: 16px;
    line-height: 22px;
  }

  .promo__btn{
    padding: 20px 53px 20px 53px;
    border-color: #3F2AFF;
    background: #3F2AFF;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
  }

  .promo__left{
    padding-top: 49px;
    padding-bottom: 42px;
  }

  .advantages__article{
    background-image: none;
    padding-top: 54px;
    padding-left: 0;
  }

  .advantages__tittle{
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 23px;
  }

  .advantages__item{
    background-position: 16px 3px;
    padding-top: 23px;
    padding-bottom: 25px;
  }

  .advantages__item:nth-child(2){
    /*padding-top: 19px;*/
    background-position: 16px 4px;
}

  .advantages__item:nth-child(3){
    /*padding-top: 19px;*/
    background-position: 16px 3px;
  }

  .advantages__descr_bottom{
    padding-top: 5px;
    padding-bottom: 22px;
    text-align: left;
    padding-left: 110px;
    max-width: 100%;
  }

  .advantages{
    padding-bottom: 36px;
  }


  .teacher{
    padding-top: 47px;
    padding-bottom: 23px;
  }
  .teacher__tittle-top{
    font-size: 20px;
  }

  .teacher__tittle-top{
    margin-bottom: 27px;
  }

/*
  .teacher__item{
    background-image: url(../img/teachers-1-mob.png);
    background-repeat: no-repeat;
    background-size: 290px 180px;
    background-position: center top;
    padding-top: 211px;
  }

  .teacher__item:nth-child(2){
    background-image: url(../img/teachers-1-mob2.png);
    background-repeat: no-repeat;
    background-size: 290px 180px;
    background-position: center top;
  }

  .teacher__item:nth-child(3){
    background-image: url(../img/teachers-1-mob3.png);
    background-repeat: no-repeat;
    background-size: 290px 180px;
    background-position: center top;
    padding-bottom: 23px;
  }

  .teacher__item:nth-child(4){
    background-image: url(../img/teachers-mob4.png);
    background-repeat: no-repeat;
    background-size: 290px 180px;
    background-position: center top;
  }
*/
  .courses__tittle-top{
    font-size: 20px;
    margin-bottom: 27px;
  }

  .courses{
    padding-top: 46px;
    padding-bottom: 50px;
  }

  .courses__item{
    padding-top: 0px;
    padding-bottom: 30px;
  }
   /* background-image: url(../img/courses-mob1.png);
    background-repeat: no-repeat;
    background-size: 290px 180px;
    background-position: center top;
  }

  .courses__item:nth-child(2){
    background-image: url(../img/courses-mob2.png);
    background-repeat: no-repeat;
    background-size: 290px 180px;
    background-position: center top;
  }
*/
  .courses__item:nth-child(3){
    padding-bottom: 29px;
  }

  .courses__item:nth-child(3) + .courses__container{
    padding-bottom: 33px;
  }


  .courses__container{
    padding-top: 263px;
    padding-right: 52px;
    padding-left: 31px;
  }

  .courses__tittle-bottom{
    margin-bottom: 12px;
    line-height: 23px;
  }

  .courses__btn{
    min-width: 195px;
    font-size: 16px;
    padding: 20px 55px 20px 55px;
  }


}

@media(max-width:375px){


  .courses__container{
    padding-top: 212px;
  }
}

@media(max-width:327px){
  .advantages__item{
    padding-top: 0px;
    padding-bottom: 0px;
    background-position: 16px 3px;
  }

  .advantages__item:nth-child(2){
    padding-top: 7px;
    padding-bottom: 6px;
    background-position: 16px 10px;
}

  .advantages__item:nth-child(3){
    padding-top: 0px;
    padding-bottom: 22px;
    background-position: 16px 3px;
  }
  .advantages{
    padding-bottom: 8px;
  }

  .courses__item:nth-child(1) .courses__container{
    background-image: url(../img/courses-mob1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .courses__item:nth-child(2) .courses__container{
    background-image: url(../img/courses-mob2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .courses__item:nth-child(3) .courses__container{
    background-image: url(../img/courses-mob3.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .courses__item:nth-child(4) .courses__container{
    background-image: url(../img/courses-mob4.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .courses__item:nth-child(1){
    padding-bottom: 28px;
  }

  .courses__time{
    right: 10px;
    top: 11px
  }

  .courses{
    padding-bottom: 49px;
  }
}




