@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.woff') format('woff');
       font-display: swap;
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('MontserratExtraBold')
       url('../fonts/RobotoRegular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}


html {
	box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

 body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background: #fff;
 }


a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

picture {
  display: block;
  width: 100%;
  height: auto;
  font-size: 0;
}

h2, h1, h3, p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}



.flex {
  display: flex;
  align-items: center;
}

.outline{
  outline: 1px solid green;
}

.header{
  padding: 30px 30px;
  background-color: #3F2AFF;

}

.header__logo{
  margin-right: auto;
}

.flex{
  display: flex;
  align-items: center;
}

.header__link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.header__item{
  margin-right: 56px;
}

.header__item:last-child{
  margin-right: 0;
}

.promo{
  background-image: url(../img/main-promo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5px;
}

.promo__left{
  padding-top: 130px;
}

.promo__tittle{
  margin-bottom: 29px;
  font-size: 60px;
  font-weight: 700;
  line-height: 100%; /* 60px */
  color: #FFF;
}

.promo__descr{
  max-width: 444px;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  color: #FFF;
}

.promo__btn{
  padding: 24px 75px 24px 75px;
  border-color: #3F2AFF;
  background: #3F2AFF;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
}

.promo__right{
  position: relative;
  min-height: 614px;
  background-image: url(../img/main-img1.png);
  background-size: 540px 593px;
  background-repeat: no-repeat;
  background-position: -1px 15px;
}

.promo__img{
  position: absolute;
  left: -93px;
  top: 42px;
}

.advantages{
  padding-bottom: 76px;
}

.advantages__article{
  padding-top: 80px;
  padding-bottom: 19px;
  padding-left: 190px;
  background-image: url(../img/advantages-articles.png);
  background-repeat: no-repeat;
  background-size: 160px 142px;
  background-position: 1px 102px;
}

.advantages__tittle{
  max-width: 359px;
  margin-bottom: 17px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%; /* 40px */
  color: #2E2B44;
}

.advantages__descr_top{
  max-width: 585px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #666;
}

.advantages__descr_bottom{
  max-width: 350px;
  padding-left: 110px;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  color: #666;
}

.advantages__item{
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url(../img/advantages-1.png);
  background-repeat: no-repeat;
  background-position: 15px;
}

.advantages__item:nth-child(2){
  background-image: url(../img/advantages-2.png);
  background-repeat: no-repeat;
  background-position: 15px;
}

.advantages__item:nth-child(3){
  background-image: url(../img/advantages-3.png);
  background-repeat: no-repeat;
  background-position: 15px;
}

.teacher{
  padding-top: 74px;
  padding-bottom: 73px;
  background-color: #212133;
}

.teacher__item{
  padding-top: 0px;
}

.teacher__picture{
  display: block;
  width: 100%;
  height: auto;
}

.teacher__img{
  margin-bottom: 26px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.teacher__tittle-top{
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%; /* 40px */
  color: #FFF;
}

.teacher__tittle-btn{
  margin-bottom: 7px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%; /* 27px */
  color: #FFF;
}

.teacher__descr{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #85859B;
}

.courses{
  padding-top: 75px;
  padding-bottom: 75px;
}

.courses__tittle-top{
  margin-bottom: 23px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%; /* 40px */
  color: #212133;
}

.courses__tittle-bottom{
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%; /* 27px */
  color: #212133;
}

.courses__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}













 /* background-image: url(../img/courses-1.png);*/
  /*background-repeat: no-repeat;*/
  /*background-size: 539px 180px;*/
 /* background-position: center top;
}

.courses__item:nth-child(2){
  background-image: url(../img/courses-2.png);
  background-repeat: no-repeat;
  background-size: 539px 180px;
  background-position: center top;
}

.courses__item:nth-child(3){
  background-image: url(../img/courses-3.png);
  background-repeat: no-repeat;
  background-size: 539px 180px;
  background-position: center top;
}

.courses__item:nth-child(4){
  background-image: url(../img/courses-4.png);
  background-repeat: no-repeat;
  background-size: 539px 180px;
  background-position: center top;
}
*/

.courses__item{
  padding-top: 0px;
  padding-bottom: 30px;
}

.courses__item:last-child{
  padding-bottom: 0;
}

.courses__item:nth-last-child(-n+2){
  padding-bottom: 0;
}

.courses__container{
  display: flex;
  flex-direction: column;
  padding-top: 212px;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 30px;
  background-color: #EDF0F9;
  border-radius: 20px 20px 20px 20px;
}

.courses__item:nth-child(1) .courses__container{
  background-image: url(../img/courses-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(2) .courses__container{
  background-image: url(../img/courses-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(3) .courses__container{
  background-image: url(../img/courses-3.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__item:nth-child(4) .courses__container{
  background-image: url(../img/courses-4.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.courses__descr{
  min-height: 113px;
  max-width: 480px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #666;
}

.courses__btn{
  max-width: 202px;
  padding: 20px 59px 20px 56px;
  border-radius: 20px;
  border-color: #3F2AFF;
  background: #3F2AFF;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
}

.courses__time{
  position: absolute;
  right: 18px;
  top: 10px;
}

.courses__time-img{
  margin-right: 5px;
}

.courses__time-descr{
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}

.footer__top{
  justify-content: center;
  padding: 28px 23px;
  padding-bottom: 24px;
  background-color: #2E2B44;
}

.footer__item{
  margin-right: 30px;
}

.footer__bottom{
  padding-top: 4px;
}

.footer__item:last-child{
  margin-right: 0;
}

.footer__span{
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #2E2B44;
}

.r{
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #3F2AFF;
}
