@media(max-width:1025px){
  .menu_section {
    background-image: url(../img/margarita.png);
    background-color: rgba(0, 0, 0, 0.7);
    background-position-x: center;
    background-position-y: 10px;
    background-repeat: no-repeat;
    background-size: 170px;
    padding-top: 193px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
}

.menu_price{
  display: flex;
  flex-wrap: wrap;
}

.descr_menu{
  margin-bottom: 5px;
}

.menu_btn {
  min-width: 184px;
  background-color: var(--link);
  color: var(--descr);
  padding: 10px;
  border-radius: 24px;
  border: 1px solid var(--link);
}
}

@media(max-width:993px){
  .maps_list_contact {
    padding-top: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    text-align: center;
}
.header_container {
  flex-wrap: wrap;
}
.header__tel{
order: 0;
}
.nav_list{
margin: auto;
}

.header {
  height: auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.88);
}
}

@media(max-width:913px){
  .header_container {
    flex-wrap: wrap;
}
.header__tel{
  order: 0;
}
.nav_list{
  margin: auto;
}
}

@media(max-width:844px){
  .header_container {
    flex-wrap: wrap;
}
.header__tel{
  order: 0;
}
.nav_list{
  margin: auto;
}
}

@media(max-width:769px){
  .header_container {
    flex-wrap: wrap;
}
.header__tel{
  order: 0;
}

.container_logo{
  margin-bottom: 20px;
}

.nav_list{
  margin: auto;
}

.header_promo{
  padding-top: 50px;
}

.promo__tittle{
  font-size: 58px;
}

.maps_list_contact {
  justify-content: space-around;
  padding-top: 50px;
}

.container_contacts{
  text-align: center;
}

}

@media(max-width:576px){
  .about_descr{
    max-width: 100%;
  }

  .icons_marg {
    margin-bottom: 5px;
}

  .container_contacts_descr {
    padding-top: 12px;
    font-size: 14px;
    color: var(--descr);
}
}

@media(max-width:482px){

  .header__nav{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 17px;
  }

  .header__tel{
    display: none;
  }

  .container_logo{
    margin: auto;
  }


  .promo__tittle{
    font-size: 40px
  }
  .promo_descr{
    font-size: var(--p);
  }

  .menu_btn{
    width: 100%;
  }

  .icons_marg{
    margin-bottom: 5px;
  }

}
