@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff');
       font-display: swap;
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold')
       url('../fonts/MullerExtraBoldDEMO.woff2') format('woff2'),
       url('../fonts/MullerExtraBoldDEMO.woff') format('woff');
       font-display: swap;
       font-weight: 800;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular')
       url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');
       font-display: swap;
       font-weight: 400;
       font-style: normal;
}
/*
@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold')
       url('../fonts/') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
       font-display: swap;
       font-weight: 600;
       font-style: normal;
}
*/
html {
	box-sizing: border-box;
  background: #F1F1F1;
}


:root{
  --h1:120px;
  --h2:34px;
  --p:20px;
  --descr: white;
  --link: rgb(168,75,0);
  --gap: 50px;
  --hover:rgb(121, 67, 164);
  --focus: rgb(194, 131, 243);
  --active: rgb(121, 67, 164);
  --hover_link:rgb(157, 92, 208);
  --active__link:rgb(51, 51, 51);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

 body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;

 }



.outline__line{

}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h2, h1, h3, p{
  margin: 0;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.flex {
  display: flex;
}

.outline{
  outline: 5px solid var(--link);
}

/*headere*/

.container_video_promo{
  position: relative;
  height: 700px;
  padding: 0px 0px 50% 0px;
}




.bascet_btn{
    z-index: 999;
    position: fixed;
    left: 94%;
    right: 0px;
    top: 80%;
    bottom: 0;
}

.about_video1{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.header{
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.88);

 /* background-image:
  linear-gradient(65deg, rgba(17, 17, 16, 0.9) 50%, rgba(17, 17, 16, 0.00) 90%), url(../img/bacground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;*/
}

.nav_item{
  margin-right: 60px;
}

.nav_item:last-child{
  margin-right: 0;
}

.header__tel{
  order: 1;
  text-align: center;
  color: var(--link);
  font-size: 23px;
  font-weight: bold;
}

.nav_link{
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--descr);
  font-size: var(--p);
  font-weight: bold;
  transition: 0.3s;
}

.nav_link:hover{
  background-color: var(--link);
}

.header_logo{
  color: var(--link);
  font-weight: bold;
  font-size: 40px;
}

.container_logo{
  align-items: center;
}

.logo{
  width: 100px;
}

.header_container{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;

}

.header_promo{

padding-top:117px;
padding-bottom: 117px;
}

.promo__tittle{
  font-size: var(--h1);
  margin-bottom: 35px;
  color: var(--descr);
}

.promo_descr{
  max-width: 800px;
  font-size: var(--h2);
  margin-bottom: 20px;
  color: var(--descr)
}

.promo_descr_bot{
  font-size: var(--p);
  max-width: 700px;
  color: var(--descr);
  margin-bottom: 66px;
  font-style: italic;

}

.promo__btn{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: var(--link);
  color: var(--descr);
  border: 1px solid black;
  border-radius: 60px;
  font-size: var(--p);
  font-weight: bold;
}

/*menu*/

.fon{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.span_prise{
  color: var(--link);
  font-size: var(--p);
  font-weight: bold;
}

.menu{

  background-image:  url(../img/bacground2.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 60px;

}

.menu_list{
  justify-content: space-around;

}

.menu_section{
  background-image: url(../img/margarita.png);
  background-color: rgba(0, 0, 0, 0.7);
  background-position-x: center;
  background-position-y: 10px;
  background-repeat: no-repeat;
  background-size: 213px;
  padding-top: 247px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
}

.menu_items:nth-child(2) .menu_section{
  background-image: url(../img/pizza2.png);
}

.menu_items:nth-child(3) .menu_section{
  background-image: url(../img/pizza3.png);
}

.menu_items{
  padding-bottom: 20px;
}

.tittl-menu_top{
  color: var(--descr);
  font-size: var(--h1);
  text-align: center;
  margin-bottom: 20px;
}

.tittle_menu{
  padding-top: 5px;
  border-top: 2px solid var(--link);
  font-size: 25px;
  color: var(--descr);
  margin-bottom: 5px;
}

.descr_menu{
  font-size: var(--p);
  color: var(--descr);
}

.menu_price .descr_menu{
  margin-right: auto;
  color: var(--link);
  font-size: var(--p);
  font-weight: bold;
}

.menu_price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.menu_btn{
  background-color: var(--link);
  color: var(--descr);
  padding: 10px;
  border-radius: 24px;
  border: 1px solid var(--link);
  transition: 0.3s;
}

.menu_btn:hover{
  background-color: rgb(202, 109, 33);
}

/*section_about*/

.about{
  background-image: url(../img/bacground.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.about_tittle{
  color: var(--descr);
  text-align: center;
  margin-bottom: 20px;
}

.about_list_top{
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.7);
}

.about_tittle_btn{
  color: var(--descr);
  margin-bottom: 20px;
}

.about_items_btn{
  list-style:disc, color var(--descr);

  margin-bottom: 20px;
}

.about_descr{
  line-height: 30px;
  font-size: var(--p);
  color: var(--descr);
  max-width: calc(100% / 1.5);
}

/*section about*/

.maps{
  /*position: relative;*/
  background-image: url(../img/bacground2.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.maps_items{
  display: flex;
}

.maps_list{
  border-radius: 24px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}

.maps_container{
  margin: auto;
  width: 95%;
  height: 400px;
  border-radius: 24px;
  border: none;
}

.maps_title{
  color: var(--link);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.icons{
 fill: var(--descr);
}

.maps_list_contact{
  padding-top: 50px;
}

.container_contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_contacts_tittle{
  padding-top: 27px;
  color: var(--descr);
}

.container_contacts_descr{
  color: var(--descr);
}

/*.about_video_maps{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/

/*footer*/
/*
.footer{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black
}

.nav_footer{
  color: var(--descr);
  font-size: var(--p);
}

.footer_items_left_top{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer_list_left{
  padding-top: 30px;
  padding-left: 17px;
}

.footer__items_left{
  margin-bottom: 5px;
}

.footer_descr{
  color: var(--descr);
}

.footer_tittle_midle{
  color: var(--link);
}

.footer_items_midle{
  margin-bottom: 5px;
}

.footer_items_middle_top{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

*/

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black
}

.footer__list{
  margin: auto;
  margin-bottom: 5px;
}

.footer__item{
  margin-right: 10px;
}

.footer__item:last-child{
  margin-right: 0;
}

.footer__span{
  color: var(--descr);
}

.footer__bottom{
  margin: auto;
}


